label.rad_lab_style,label.chk_lab_style {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}
.wrapper {
	width: 500px;
	margin: 50px auto;
}
input[type=radio].rad_style,
input[type=checkbox] {
	display: none;
}
label.rad_lab_style:before,label.chk_lab_style:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px; 
}

.radio label:before {
	border-radius: 8px;
}
.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}
label.rad_lab_style{padding-left: 32px;}
input[type=radio].rad_style + label.rad_lab_style:before{background-image:url(../../images/checks.png);padding: 16px 0px 16px 30px;background-position: 0px 0px;left: -3px;
top: -7px;}

input[type=checkbox].chk_style + label.chk_lab_style:before{background-image:url(../../images/chk.png);padding: 16px 0px 16px 30px;background-position: 0px 0px;left: -3px;
top: -9px;background-position: 0px 5px;}

input[type=radio].rad_style:checked + label.rad_lab_style:before {
    content: "";left: -3px;
top: -9px;
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px; background-image:url(../../images/checks.png);padding: 16px 0px 16px 30px;
background-position: 0px 32px;
}

input[type=checkbox].chk_style:checked + label.chk_lab_style:before {
	content: "";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;background-image:url(../../images/chk.png);height: 19px;
width: 18px;background-position: 0px -19px;
}