.example{
  margin-bottom : 1.5em;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 40px;
  background   : url('../../auto_images/checks.png') no-repeat 0 0;
  line-height  : 30px;
}

input[type=checkbox]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 40px;
  background   : url('../../auto_images/checks_1.png') no-repeat 0 0;
  line-height  : 24px;
}
input[type=checkbox].auto_more_chk:not(old) + label.auto_more_chk_lab{
  display      : inline-block;
  margin-left  : 0px;
  padding-left : 24px;
  background   : url('../../auto_images/chk.png') no-repeat -4px -3px;
  line-height  : 18px;
}


input[type=checkbox].:not(old):checked + label{
  background-position : 0 -24px;
}

input[type=checkbox].auto_more_chk:not(old):checked + label.auto_more_chk_lab{
  background-position : -4px -27px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -32px;
}

/* shinekow*/
input[type=checkbox].auto_more_chk2:not(old) + label.auto_more_chk_lab2{
  display      : inline-block;
  margin-left  : 0px;
  padding-left : 24px;
  background   : url('../../auto_images/chk.png') no-repeat -4px -3px;
  line-height  : 18px;
}

input[type=checkbox].auto_more_chk2:not(old):checked + label.auto_more_chk_lab2{
  background-position : -4px -27px;
}