@charset "utf-8";
/* CSS Document */

*{font-family: 'Roboto', sans-serif;}
body{ background-color:#f5f5f5;}
h2{ font-weight:900; font-size:16px; color:#333;}
.container{ padding:0; width:1000px;}
.header_top{ width:100%; border-bottom:solid 1px #e1e1e1;}
.navbar-nav li.home a{ font-size:20px;}
.navbar-nav li a{ font-weight:500; font-size:11px; color:#999 !important; border-left:solid 1px #e1e1e1; padding:10px; position:relative;text-shadow: 1px 1px 0px #FFF;-webkit-text-shadow: 1px 1px 0px #FFF;-moz-text-shadow: 1px 1px 0px #FFF;}
.navbar-nav li:last-child a{ border-right:solid 1px #e1e1e1;}
.header_top .navbar-collapse { padding:0;}
.navbar-default { background-color:transparent; border:0; margin-bottom:0; min-height:inherit;}
.navbar-nav li.active a,.navbar-nav li:hover a{ background-color:#fff !important; color:#0a8ddc !important;}
.navbar-nav li.active a:after,.navbar-nav li:hover a:after{top: 0;right: 0;bottom: -1px;left: 0;border-bottom: solid 1px #0A8DDC;position: absolute;content: "";}
#SearchContent{width:100%; height:auto; background-color:#0a8ddc; padding:10px 0; margin-top:20px}
#SearchContent .navbar-form{margin: 0px;width: 75%;padding: 0;margin-left: 10px !important;}
#SearchContent .btn-default{background-color: #075685;padding: 0px;width: 120px;height: 39px;font-weight: 400;float: left;border-radius: 0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;margin: -2px 0px 0px;vertical-align: top;display: inline-block;}
#SearchContent .navbar-form .form-group{float:left;width: 81%;}
#SearchContent .navbar-form .form-control{width: 100%;border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;border: 0;height: 35px;font-size: 14px;font-weight: 400;color: #333;}
.LinkTab{width: 200px;float: left;background-color: #075685;color: #FFF;height: 36px;text-align: center;line-height: 34px;}
#BodyContent{width:100%; height:auto; clear:both; margin:30px 0;}
.BannerLeft{width:60%; height:auto; float:left}
.BannerRight{width:28%; height:auto; float:right}
.search_content_left{ float:left;width: 85%;}
.search_content_right{ float:right;}
.count_square {
    border: 1px solid #70c5f8;
    border-radius: 50%;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    margin: 6px;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-left: 1px;
    padding-top: 3px;
}
.count_square_det{ float:right; font-size:11px; color:#fff; text-align:center; font-weight:400;margin: 3px 0;}
.BodyContent{ overflow:hidden; padding:30px 0;}
.BannerArea{ width:100%; height:auto; display:table;}
.BannerLeft{ float:left; height:auto; width:68%;}
.BannerLeft img{}
.BannerRight{ float:right; width:30%; height:auto; display:table; border:solid 1px #dcdcdc; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; background-color:#fff; padding:20px;}
.BannerRight h2{ margin:0; margin-bottom:20px;}
.right_panel_tab{ width:100%; height:auto;}
#myTab a{ font-weight:400; color:#0a8ddc; font-size:13px; border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;padding: 5px 9px;border: solid 2px #0A8DDC;margin: 0;border-right: 0; position:relative;}
#myTab li.active a{ background-color:#0a8ddc; color:#fff;}
#myTab li.active:after{position: absolute;content: "";border-width: 10px;border-color: #0a8ddc transparent transparent transparent;bottom: -20px;z-index: 1;border-style: solid;left: 50%; margin-left:-8px;}
#myTab li:last-child a{ border-right:solid 2px #0A8DDC;}
#myTab{ border-bottom:0;}
#myTab li:hover a{background-color:#0a8ddc; color:#fff;}
#myTab li:hover a:after{position: absolute;content: "";border-width: 10px;border-color: #0a8ddc transparent transparent transparent;bottom: -20px;z-index: 1;border-style: solid;left: 50%; margin-left:-8px;}
#myTabContent{ padding:20px 0 0;}
.right_select_box{ width:48%; float:left; margin-right:10px; margin-bottom:10px;position: relative;}
.right_select_box:nth-of-type(2n+2){ margin-right:0;}
.right_select_box a.trigger,.right_select_box a.activetrigger{ border:0; background-color:#ecf8ff; font-weight:400; color:#666666; font-size:13px; background-image:url(../auto_images/arrow_select.png); background-repeat:no-repeat; background-position:95% 50%;box-shadow: 0px 1px 1px #cae8fa inset;-webkit-box-shadow: 0px 1px 1px #cae8fa inset;-moz-box-shadow: 0px 1px 1px #cae8fa inset;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;}
.right_select_box a:hover{ text-decoration:none;}
.right_select_box a.activetrigger{ border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;}
ul.dropdownvisible{ border:solid 1px #cae8fa !important; border-top:0 !important;position: absolute;}
ul.dropdownvisible li a{ font-size:13px; font-weight:400;}
#myTabContent input[type="submit"]{color: #FFF;font-size: 15px;background-color: #0A8DDC;border: 0px none;width: 100%;padding: 5px 0px; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;margin-top: 5px;}
.bdy_main_content .col-md-8{ width:68%; padding-right:0px; background-color:#fff; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; border:solid 1px #dcdcdc; padding-left:0;}
.bdy_main_content .row{ padding:0 15px;}
.bdy_main_content{ margin-top:20px;}
.bdy_main_content .col-md-8 h2{ margin:25px 0;padding: 0px 12px;}
.amaz_holder{ float:left; width:50%; text-align:center;min-height: 110px;min-height: 110px;padding: 9px 0;}
.amaz_holder:nth-of-type(3n+3){ border-right:0;}
.amaz_holder:nth-child(4),.amaz_holder:nth-child(5),.amaz_holder:nth-child(6){ border-bottom:0;}
#amazingcarousel-1{ max-width:100%;}
.amaz_holder img{width: auto !important;}
.logo_slider{border-top: 1px solid #DCDCDC;}
.amazingcarousel-item-container{ margin:0 !important;overflow: hidden;}
.bdy_main_content row{ overflow:hidden;}
.amazingcarousel-bullet-list div{ margin-right:0 !important;}
.bdy_main_content .col-md-3{border: 1px solid #DCDCDC;background-color: #FFF;width: 30%;float: right;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;padding: 22px;}
.bdy_main_content .col-md-3 h2{margin: 8px 0px 23px;}
.tag_content{ width:100%; height:auto; overflow:hidden;}
.tag_content a{font-weight: 500;color: #333;background-color: #F5F5F5;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;display: inline-block;float: left;width: 48%;margin-right: 10px;font-size: 11px;padding: 12px 7px;margin-bottom: 10px;border-bottom: solid 1px #EDEDED;}
.tag_content a:nth-of-type(2n+2){ margin-right:0;}
.tag_content a:hover{ background-color:#e5e5e5; text-decoration:none;}
.footer{ width:100%; height:auto; background-color:#fafafa; padding:20px 0; border-top:solid 1px #eeeeee;padding: 50px 0px;}
.footer h3{ color:#686868; font-size:14px; font-weight:400; margin:0; margin-bottom:10px;}
.footer ul{ margin:0; padding:0; list-style:none;}
.footer li{ margin-bottom:3px;margin-bottom: 5px;}
.footer li a{ color:#918f8f; font-size:12px; display:block; font-weight:300;}
.footer .col-md-2{width: 20%; background-image:url(../auto_images/left_border.jpg); background-repeat:no-repeat; background-position:0 0;}
.footer .col-md-3{ width:18%;text-align: center; background-image:url(../auto_images/left_border.jpg); background-repeat:no-repeat; background-position:0 0;}
.social_holder a{ display:inline-block; color:#8c8989; background-color:#eeeeee;font-size: 26px;padding: 5px 0px;width: 33px;text-align: center; transition:0.2s;-webkit-transition:0.2s;-moz-transition:0.2s;}
.social_holder a:hover{background-color:#8c8989; color:#eeeeee;}
.store_holder{ margin-top:20px;}
.store_holder a{ margin-bottom:5px;display: inline-block;}
.footer .row{ margin:0;}
.amazingslider-nav-0{margin-top: -30px !important; right: 10px; left:auto !important;width: auto !important;}
.amazingslider-wrapper-0 {border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;overflow: hidden;}
.BannerArea .col-sm-9{ padding:0;}
.footer_bottom{ background-color:#0a8ddc; padding:10px 0; font-weight:400; color:#fff; font-size:13px;}
.breadcrumb {padding: 0; margin-bottom:0;}
.breadcrumb a{ font-size:13px; font-weight:400; color:#333333;}
.breadcrumb li{font-size:13px; font-weight:400; color:#999;}
.auto_add{ background-color:#fff; border:solid 1px #dcdcdc; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; padding:0;}
.auto_add h2{padding: 20px;margin: 0; border-bottom:solid 1px #dcdcdc;}
.form_main{ float:none; margin:0 auto; border:0 !important; padding:25px 0;}
.form_main label{ font-weight:700; color:#333; font-size:13px;}
.form_main sup{ color:#f00;}
.form_main .form-control{ border:solid 1px #cbcbcb; border-radius:0 !important ;-webkit-border-radius:0 !important ;-moz-border-radius:0 !important ; box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
.form_main textarea{ resize:none; height:150px;}
.form-group-main{min-height: 68px;}
.form-group .col-md-6{ padding-left:0;}
.form-group .col-md-6:last-child{ padding-right:0;}
span.infor{ font-weight:400; color:#999; font-size:11px;}
.auto_add hr{ margin:0; border-top:solid 1px #eee;}

.ch_lab{ padding:0 !important;padding-bottom: 10px !important;}
.radio_box label{ font-weight:400; color:#666; font-size:13px; margin-right:20px;}
.img_box{ border:solid 1px #eeeeee; background-color:#f5f5f5; float:left; width:90px; text-align:center; font-weight:400; color:#999; font-size:13px;padding: 18px 5px;margin-right: 8px;}
.img_box:last-child{ margin-right:0;}
.infor_red{ padding:0;}
.infor_red span{ color:#f00; font-size:11px; font-weight:400;}
.infor_red label{ color:#333; font-size:13px; font-weight:400;}
.infor_red a{color:#0a8ddc;font-weight:700;}
.form_main input[type="submit"]{ font-weight:400; border:0; background-color:#0a8ddc; color:#fff; font-weight:400; font-size:15px;padding: 8px 55px; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.form_main input[type="submit"]:hover{ background-color:#009fff;}
.form_main #propertyproduct-submit { background-color:#F95E21;}
.auto_compare{ background-color:#fff; border:solid 1px #dcdcdc;padding: 0 !important;margin: 0;}
.auto_compare .col-md-12{ /*padding:0 !important;*/}
.auto_compare .col-md-3{width: 25%;border: 0;float: left;padding: 10px;}
.text_bold{ font-weight:700; text-align:right; color:#333; font-size:16px;}
.text_coloured_bold{ font-weight:700; color:#075685; font-size:18px; line-height:26px;padding-top: 0 !important;padding-left: 25px !important;padding-right: 0 !important;width: 20.5% !important;}
.top_img img{ width:100%;}
.top_img .col-md-3{ margin-top:50px;}
.common_col_md_12{ padding:15px 0;}
.common_col_md_12:nth-child(even){ background-color:#f2f2f2;}
.auto_compare .col-md-3{ background-color:transparent; position:relative;}
.text_regular{ font-weight:400; color:#999999; font-size:13px; padding-top:0 !important;padding-left: 25px !important;padding-right: 0 !important;width: 20.5% !important;}
.text_black{ color:#000; line-height:20px;}
.text_align_left{ text-align:left;padding-left: 25px !important;padding-right: 0 !important;width: 20.5% !important;}
.text_align_left small{ font-weight:400;}
.text_tag{ color:#999999; font-size:13px; font-weight:400; padding-top:0 !important;padding-left: 25px !important;padding-right: 0 !important;width: 20.5% !important;}
.text_tag i{ margin-right:10px;}
.auto_more_box span{ display:block;}
.auto_more_box span label{ color:#333; font-size:12px; font-weight:400;}
.auto_more_box h2{ margin-bottom:15px;margin-top: 0;}
.auto_more_box a.trigger,.auto_more_box a.activetrigger{ background-image:url(../auto_images/caret.png); background-repeat:no-repeat; background-position:95% 50%; background-color:transparent; border:0; width:50%; font-size:13px; font-weight:700; color:#333;margin-left: 20px;}
.auto_more_box a.trigger:hover,.auto_more_box a.activetrigger:hover{ text-decoration:none;}
input[type="text"]{ border:solid 1px #d5d5d5; background-color:#fff; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;height: 35px;padding: 5px;width: 65%;}
.auto_more .col-md-8 .auto_more_heading h2{ float:left;}
.auto_more .col-md-8 .auto_more_heading .sorting{ float:right;padding: 17px 10px;}
.auto_more .col-md-8 .auto_more_heading .sorting span{padding: 5px 10px;display: inline-block; color:#999; font-weight:400; font-size:16px;}
.auto_more .col-md-8 .auto_more_heading .sorting span.select{ color:#000; font-weight:700;background-color: #f5f5f5;}
.auto_more_row{ clear:both;}
.auto_more_row .col-md-3{ float:left; border:0; padding:0;width: 28%;}
.auto_more_row .col-md-3 img{ width:100%;}
.auto_more_row .col-md-7 h3{ font-weight:700; color:#075685; font-size:18px;margin:0;}
.auto_more_row .col-md-7 h3 code{ background-color:#0a8ddc; font-weight:400; color:#fff; margin-right:10px; border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;padding: 0px 5px;}
.auto_more_row .col-md-7 small{ font-weight:400; color:#999; font-size:13px;}
.auto_more_row .col-md-7 p{ color:#333; font-size:13px; font-weight:400;}
.auto_more_row .col-md-7 .tags span{ font-weight:400; color:#999; font-size:11px; background-color:#f3f3f3; display:inline-block;padding: 3px 5px;}
.auto_more_row .col-md-7 .tags span i{ margin-right:3px;}
.auto_more_row .col-md-2 h3{ font-weight:700; color:#333; font-size:16px; text-align:right;}
.auto_more_row .col-md-7{width: 54%;}
.auto_more_row .col-md-2{padding: 0px;}
span.round{border: solid 2px #DCDCDC;width: 30px;height: 30px;display: inline-block;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;float: right;}
span.activeround{border: solid 2px #0A8DDC !important;}
span.activeroundProperty{border: solid 2px #F95E21 !important;}
.auto_more_row .col-md-2 small{ font-weight:400; color:#999; font-size:11px;clear: both;float: right;margin-top: 10px;}
.auto_more_row .col-md-2 span{display: block;clear: both;text-align: right; padding-top:10px;}
.auto_more_row .col-md-2 span label{font-weight:400; color:#999; font-size:11px;}
.auto_more_row .col-md-12{ padding:20px; border-bottom:solid 1px #dcdcdc;}
.auto_more_row .col-md-12:last-child{ border-bottom:0;}
.auto_more_box{ margin-bottom:20px;}
.advertisement_main{ width:15%; padding-right:0; padding-left:15px !important;}
.auto_more .col-md-2{ padding-left:0;}
.advertisement{ width:120px; height:600px; background-color:#0a8ddc; text-align:center; margin-bottom:10px;float: right;}
.advertisement:last-child{ margin-bottom:0;}
.advertisement span{ color:#fff;position: relative;top: 50%; transform:translateY(-50px);-webkit-transform:translateY(-50px);-moz-transform:translateY(-50px);}
.pagination{ width:100%; text-align:center;}
.pagination li{ display:inline-block; float:none;}
/*.pagination li a{ border:0; background-color:#e3e3e3; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; font-weight:400; color:#999; font-size:13px;}
.pagination li.active a{ background-color:#0a8ddc; color:#fff;}*/
.auto_organisation .col-md-2{ padding:0;}
.auto_organisation .col-md-2 ul{ list-style:none; margin:0; padding:0; border:solid 1px #dcdcdc;border-radius: 4px 0 0 4px;-webkit-border-radius: 4px 0 0 4px;-moz-border-radius: 4px 0 0 4px;overflow: hidden; background-color:#fff;}
.auto_organisation .col-md-2 ul li a{ font-weight:500; color:#333333; font-size:16px; display:block;padding: 10px 15px; border-bottom:solid 1px #dcdcdc;}
.auto_organisation .col-md-2 ul li.active a{ background-color:#0a8ddc; color:#fff; border-bottom:0;}
.auto_organisation .col-md-2 ul li:last-child a{ border-bottom:0;}
.auto_organisation_right .col-md-2{ width:18%; text-align:center;}
.auto_organisation_main{ background-color:#fff; border:solid 1px #dcdcdc;margin-left: -1px;}
.auto_organisation_right{padding: 30px 0px !important; border-top:solid 1px #dcdcdc;}
.auto_organisation_right_first{ border-top:0;}
.auto_organisation_right span{ color:#000;}
.auto_organisation_right p{ margin:0; color:#999; font-size:13px;}
.auto_organisation_right h3{ margin:0; color:#999; font-size:20px; font-weight:600; color:#0a8ddc;margin: 10px 0;}
.display_block span{ display:block;}
.auto_organisation_right a{background-color: #7C7C7C;color: #FFF;font-weight: 400;font-size: 11px;display: inline-block;padding: 7px 20px;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;margin-top: 8px;}
.organisation_logo img{margin-top: 10px;}
.organisation_det p{ color:#333; font-size:13px; font-weight:400;width: 75%;}
.ol_type li{ color:#0a8ddc; font-weight:700;}
.ol_type{margin: 0;padding: 7px 25px;}
.ol_type span{ color:#333; font-weight:400;}
.organisation_det{ background-image:url(../auto_images/back_more.png); background-repeat:no-repeat; background-position:right top; padding:20px 0;}
.organisation_det .text_bold{ text-align:left; font-weight:500;}
.ul_type{ margin:0; padding:0 10px; list-style:none;}
.ul_type li i{ color:#0a8ddc; margin-right:5px;}
.auto_organisation_right a{ background-color:#0a8ddc;}
.auto_organisation_right_first a{ background-color:#7C7C7C;}
.auto_detail{ background-color:#fff; border:solid 1px #dcdcdc; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; padding-top:15px !important;padding-bottom:15px !important; margin:0 !important; padding-left:0 !important; padding-right:0 !important;}
.product_full_img img{ width:100%; height:auto;}
.product_full_img{ padding-left:0;}
.product_det{ padding-right:0;}
.heading_div_left{ float:left;}
.heading_div_left h3{ color:#333; font-size:18px; font-weight:700; margin:0; margin-bottom:10px;}
.heading_div_left small{ color:#999999; font-size:13px; font-weight:400;}
.heading_div{ width:100%; overflow:hidden;padding: 10px 0;border-bottom:solid 1px #eeeeee;}
.heading_div_right{ float:right;width: 15%;}
.heading_div_right b{ display:block; clear:both; font-weight:500; font-size:13px;}
.heading_div_right .round{ float:left;}
.price_div{ padding:10px 0; border-bottom:solid 1px #eeeeee;}
.price_div small{ display:block; font-size:18px; color:#999999; font-weight:400;}
.price_div small span{ color:#333;}
.price_div small span.coloured{ color:#0a8ddc;}
.sh_pr{ padding:10px 0;}
.sh_pr a.soc{ background-color:#0a8ddc; color:#fff; padding:2px 5px; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.sh_pr a.fb_like{ margin-left:10px;}
.sh_pr p{ font-size:13px; color:#333; margin-top:5px; line-height:24px;}
.sh_pr span b{ font-weight:500; color:#333; font-size:13px;}
.sh_pr span{ color:#0a8ddc; font-weight:400;font-size:13px;}
.addr_panel{ margin:10px 0; background-color:#f5f5f5; border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;}
.addr_panel_top_left{ float: left;overflow: hidden;}
.addr_panel_top_left img{ float:left; margin-right:10px;}
h3{ font-size:16px; color:#555; font-weight:500; margin:0;}
.addr_panel_top{ overflow:hidden;padding:15px; border-bottom:solid 1px #e0e0e0;}
.addr_panel_top_right{ float:right;padding: 4px 0;}
.addr_panel_top_right a{ width:30px; height:30px; display:inline-block; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; color:#fff;font-size: 16px;text-align: center;text-shadow: 1px 1px 0px #666;-webkit-text-shadow: 1px 1px 0px #666;-moz-text-shadow: 1px 1px 0px #666;}
.addr_panel_top_right a.fb{ background-color:#3b559a;}
.addr_panel_top_right a.twit{ background-color:#53a9f0;}
.addr_panel_top_right a i{top: 50%;position: relative;transform: translateY(-7px);-webkit-transform: translateY(-7px);-moz-transform: translateY(-7px);}
.addr_panel_top_middle{ padding:10px;}
.addr_panel_top_middle ul{ margin:0; padding:0; list-style:none;}
.addr_panel_top_middle ul li{ font-weight:400; color:#333; margin-bottom:8px; font-size:13px;}
.addr_panel_top_middle ul li i{ margin-right:5px; color:#0a8ddc;}
.addr_panel_top_bottom a{ display:inline-block; width:49.5%; float:left; color:#fff; font-weight:400; font-size:15px; background-color:#075685; text-align:center;padding: 8px 0;}
.addr_panel_top_bottom a:hover{ text-decoration:none;}
.addr_panel_top_bottom a i{ margin-right:8px;}
.addr_panel_top_bottom a:last-child{ float:right; background-color:#0a8ddc;}
.img_sld img{ width:auto;}
.img_sld{ padding:5px 0;}
.img_sld a{ display:inline-block; padding:4px; border:solid 1px #eeeeee;}
.img_sld a.select{ border:solid 1px #0a8ddc;}
.img_sld a:hover{border: 1px solid #0A8DDC;}
.h_r{ padding:0; border:0 !important; width:100%;}
.list_ing h4{ width:49%; float:left; text-align:right; font-weight:700; color:#333; font-size:16px;}
.list_ing span{font-weight: 400;color: #999;font-size: 13px;display: inline-block;width: 45%;float: right;padding: 10px 0;}
.list_ing .col-md-12:nth-child(odd){ background-color:#f2f2f2;}
.list_ing .col-md-12{padding: 5px 15px;}
#amazingcarousel-2{ max-width:100% !important;}
#amazingcarousel-3{ max-width:100% !important;}
.sl_1{ border-bottom:solid 1px #dcdcdc;}
.sl_1 h2{margin: 0px;padding: 10px 0px 20px; font-size:16px; float:left;text-transform: uppercase;}
.sl_1 span{float: right;margin: 8px 90px; font-weight:400; color:#999; font-size:13px;}
.auto_detail{ margin-bottom:20px !important;}
.amazingcarousel-title p{ font-weight:400; color:#555; font-size:13px;}
.amazingcarousel-title b{ color:#e00032; font-size:13px;}

.bottom_shadow{box-shadow: 0px 2px 0px #EDEDED;-webkit-box-shadow: 0px 2px 0px #EDEDED;-moz-box-shadow: 0px 2px 0px #EDEDED;}
.header_top .container-fluid{ padding:0;}
.header_top .navbar-right { margin-right:0;}

.form_main a.trigger{ background-image:url(../auto_images/arrow_select.png); background-repeat:no-repeat; background-position:95% 50%;}
.full_form input[type="text"]{ width:100%;}
.amazingcarousel-image img{ width:100%;}


.small_img .col-md-3{ width:20%;}
.small_img h3{ color:#333 !important;}

#amazingcarousel-2 .amazingcarousel-item-container,#amazingcarousel-3 .amazingcarousel-item-container{ background-image:url(../auto_images/amazing_shadow.png) !important; background-repeat:no-repeat; background-position:100% 50%;}

.tab_le h2{ text-transform:uppercase;}

a.img_cross,a.img_plus{ position:absolute; top:0; right:0;}
a.img_cross img,a.img_plus img{ width:auto;}

.text_left{ text-align:left;}

.small_img .col-md-2{ float:right;}

.LinkTab .glyphicon glyphicon-plus-sign{float: right;position: relative;right: 44px;top: 22px;}
.amaz_img{ width:140px; height:56px; margin:0 auto;}
.amaz_img img{ width:100%; height:auto;}

.organisation_logo{width: 28% !important;}

.nv_or{ width:20%;}
.auto_organisation_main{ width:80%;}
.submit_section{padding: 30px 0;}
.submit_section .form-group-main { min-height:1px; margin-bottom:0;}

.no_padding{ padding:0;}
.no_padding .form-group-main{ min-height:1px;}
.img_hold{ overflow:hidden;}

.addr_panel_top_bottom a:first-child{ border-radius:0px 0px 0px 2px;-webkit-border-radius:0px 0px 0px 2px;-moz-border-radius:0px 0px 0px 2px;}
.addr_panel_top_bottom a:last-child{ border-radius:0px 0px 2px 0px;-webkit-border-radius:0px 0px 2px 0px;-moz-border-radius:0px 0px 2px 0px;}
@media only screen and (min-width: 490px) and (max-width: 990px){
	.sphoto{height: 100px !important; width: 116px !important;}
	.tab_le{clear: both;}
}

@media only screen and (min-width: 768px) and (max-width: 900px){
	#myTab a{ font-size: 11px;}
    #auto_banner_fixed_div {display: none;}
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
	.glyphicon-plus-sign{ display: none;}
	.container{ width:99%; overflow:hidden;}
	.LinkTab {width: 140px;}
    #SearchContent .navbar-form .form-group {width: 70%;}
	.BannerArea .col-sm-9{ padding:0;}
	#amazingslider-1{ width:100% !important;}
	.BannerRight {padding: 10px;}
	#myTab a {padding: 5px 5px;}
	.right_select_box {margin-right: 8px;margin-bottom: 8px;}
	#myTabContent input[type="submit"] { margin-top:0;}
	.BannerLeft img {min-height: 236px;}
	.tag_content a {padding: 11px 5px;font-size: 10px;margin-right: 7px;}
	.social_holder a {width: 24px;font-size: 16px;}
	.navbar-nav li.active a:after, .navbar-nav li:hover a:after {bottom: 0px;}
	.img_box {padding: 12px 5px;width: 66px;}
	.common_col_md_12{ overflow:hidden;}
	.list_ing .col-md-12{ overflow:hidden;}
	.auto_more_middle{width: 65% !important;}
	.auto_more_right{ float:right;}
	.auto_more_row .col-md-12{ overflow:hidden;}
	.organisation_logo img{ width:80%;}
    #auto_banner_fixed_div {display: none;}
	
}

@media only screen and (min-width: 490px) and (max-width: 767px){
	
	.container{ width:99%; overflow:hidden;padding: 2px 0;}
	.LinkTab {width: 80px;}
    .zar_add_text {display:none;}
    .zar_search_text {display:none;}
	#SearchContent .navbar-form .form-group {width: 50%;}
	.BannerArea .col-sm-9{ padding:0;}
	#amazingslider-1{ width:100% !important;}
	.BannerRight {padding: 10px;width: auto; float:none; margin:0 auto;}
	#myTab a {padding: 5px 5px;}
	.right_select_box {margin-right: 8px;margin-bottom: 8px;}
	#myTabContent input[type="submit"] { margin-top:0;}
	.BannerLeft img {}
	.tag_content a {padding: 11px 15px;font-size: 12px;margin-right: 20px;}
	.social_holder a {width: 28px;font-size: 16px;margin-bottom: 10px;}
	#SearchContent .btn-default {width: 80px;}
	#SearchContent .navbar-form { width:100%;}
	.BannerLeft { width:auto;}
	.bdy_main_content .col-md-8 { width:100%;}
	.bdy_main_content .col-md-3{ width:100%;}
	
	.uramshulal {display: none;}
	.advertisement_main {display: none;}

	.navbar-nav li a {padding: 10px 20px;}
	.header_top .navbar-collapse {overflow: hidden;}
	.header_top .navbar-collapse{ margin-right:0; margin-left:0;}
	.navbar-brand {padding: 15px 0px 0;height: auto;}
	.bdy_main_content .col-md-8{ margin-bottom:15px;}
	.form_main{ width:80% !important;}
	.img_box {width: 65px;padding: 9px 5px;}
	.common_col_md_12{ overflow:hidden;}
	.top_img .col-md-3{width: 20%;}
	.list_ing .col-md-12{ overflow:hidden;}
	.auto_detail .col-md-12{ overflow:hidden;}
	.img_sld a{ width:14%;}
    .search_content_left { width:80%;}
    .search_content_right { width:20%;}
	.img_sld a img{ width:100%;}
	.product_full_img{ margin-bottom:20px;}
	.auto_more_middle{width: 83% !important;}
	.auto_more_row .col-md-12{ overflow:hidden;}
	.auto_more_row .col-md-3{width: 29%;}
	.auto_more_row .col-md-7 .tags span { margin-bottom:5px;}
	.auto_more_right{width: 44%;margin: 0 auto;float: none;}
	.advertisement { display:inline-block; float:none;margin-right: 10px;}
	.nv_or{ float:none; margin:0 auto;position: relative;top: 1px;}
	.nv_or ul{border-radius: 4px 4px 0 0 !important;-webkit-border-radius: 4px 4px 0 0 !important;-moz-border-radius: 4px 4px 0 0 !important;}
	.auto_organisation_main{ float:none; margin:0 auto;}
	.organisation_logo img{ width:80%;}
	
	.radio_box span {display: block;margin-bottom: 10px;}
	#auto_banner_fixed_div {display: none;}
    .LinkTab .glyphicon { margin-top: 11px !important;}
    .col-xs-4 {
        width: 100%;
    }
    .auto_more_middle {
        width: 83% !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 489px){
	
	.container{ width:99%; overflow:hidden;padding: 2px 0;}
	.LinkTab {width: 50px;}
    .zar_add_text {display:none;}
    .zar_search_text {display:none;}
	#SearchContent .navbar-form .form-group {width: 66%;}
	.BannerArea .col-sm-9{ padding:0;margin-bottom: 20px;}
	#amazingslider-1{ width:100% !important;height: auto !important;}
	.BannerRight {padding: 10px;width: auto; float:none; margin:0 auto;}
	#myTab a {padding: 8px 15px;}
	.right_select_box {margin-right: 8px;margin-bottom: 8px;}
	#myTabContent input[type="submit"] { margin-top:0;}
	.BannerLeft img {}
	.tag_content a {padding: 11px 15px;font-size: 12px;margin-right: 11px;}
	.social_holder a {width: 28px;font-size: 16px;margin-bottom: 10px;}
	#SearchContent .btn-default {width: 50px;margin-left: 0px;}
	#SearchContent .navbar-form { width:100%;}
	.BannerLeft { width:auto;}
	.bdy_main_content .col-md-8 { width:100%;margin-bottom: 20px;}
	.bdy_main_content .col-md-3{ width:100%;padding: 10px;}
    .search_content_left { width:100%;}
	.search_content_right { display:none;}
	
	.amaz_holder {min-height: 153px;}
	.footer .col-md-2{ width:100%; margin-bottom:15px;}
	.footer .color-md-3{ width:100%;}
	.uramshulal {display: none;}
	.advertisement_main {display: none;}
    .LinkTab .glyphicon { margin-top: 11px !important;}
	.navbar-nav li a {padding: 10px 20px;}
	.header_top .navbar-collapse {overflow: hidden;}
	.header_top .navbar-collapse{ margin-right:0; margin-left:0;}
	.navbar-brand {width: 100%;text-align: center;display: inline-block;padding: 0px;height:auto;float: none;padding: 18px 0 0;}
	.navbar-brand img{ margin:0 auto;}
	.radio_box span{ display:block;margin-bottom: 10px;}
	.form-group-main {min-height: 120px;}
	.form_main {width: 95% !important;}
	.img_box {width: 66px;margin-bottom: 10px;padding: 14px 5px; margin-right:4px;}
	.form-group-unique{ min-height:1px;}
	.auto_detail .col-md-12{ overflow:hidden;}
	.img_sld a{ width:24%;}
	.img_sld a img{ width:100%;}
	.product_full_img{ margin-bottom:20px;}
	.list_ing .col-md-4 h4{ width:100%; text-align:center;}
	.list_ing .col-md-4 span{display: block;width: 100%;text-align: center;}
	.auto_more_left{width: 34%;margin: 0 auto;float: none;}
	.auto_more_row .col-md-12{ overflow:hidden;}
	.auto_more .col-md-8 .auto_more_heading .sorting {width: 70%;padding: 17px 0px;}
	.auto_more .col-md-8 .auto_more_heading h2 {padding: 0px 15px;}
	.auto_more_row .col-xs-3,.auto_more_row .col-xs-7,.auto_more_row .col-xs-2{ width:100%; margin-bottom:20px; padding:0;}
	.auto_more_row .col-md-2 h3 {text-align: left;}
	.auto_more_row .col-md-2 span { float:left; text-align:left;}
	.auto_more_row .col-md-2 small { float:left;}
	.auto_more_row .col-md-7 .tags span { margin-bottom:5px;}
	.nv_or{ float:none; margin:0 auto;position: relative;top: 1px; width:90%;}
	.auto_organisation_main{ width:90%; margin:0 auto; float:none;}
	.nv_or ul{border-radius: 4px 4px 0 0 !important;-webkit-border-radius: 4px 4px 0 0 !important;-moz-border-radius: 4px 4px 0 0 !important;}
	.auto_organisation_right .col-xs-2{ width:100%; margin-bottom:20px;}
    #auto_banner_fixed_div {display: none;}
    .col-xs-4 {
        width: 50%;
    }
	.form-row {
        width: 100%
    }
    .auto_more_middle {
        width: 100% !important;
    }
    .auto_more_left {
        width: 90%;
        margin: 0px auto;
        float: none;
        top: 130px;
    }
    .container {
        width: 99%;
        overflow: hidden;
        padding: 0px 0px;
    }
    .auto_more .col-md-8 .auto_more_heading h2 {
        font-size: 12px;
    }

    .auto_more .col-md-8 .auto_more_heading div {
        width: 100%;
        margin-top: -16px;
    }
    .auto_more .col-md-8 .auto_more_heading .sorting {
        padding: 13px 0px 7px 50px;
        width: 70%;
        float: left;
    }
    .auto_compare .col-md-12 {height: 120px !important}
    .auto_compare .col-md-3 {
        width: 73px !important;
    }
    .text_bold {
        font-size: 10px;
    }
    .text_coloured_bold {
        font-size: 12px;
        line-height: 12px;
    }    
    .text_tag{
        font-size: 10px;   
    }
}

@media only screen and and (min-width: 200px) and (max-width: 460px) {
  
}


.input-error {
    background-color: #fce7eb;
}
.input-error {
    border: 1px solid #f00 !important;
}
.form-control-home{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#2190DA;background-color:#ECF8FF;background-image:none;border:1px solid #E3F3FD;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s}.form-control-home:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)}.form-control-home::-moz-placeholder{color:#999;opacity:1}.form-control-home:-ms-input-placeholder{color:#999}.form-control-home::-webkit-input-placeholder{color:#999}.form-control-home[disabled],.form-control-home[readonly],fieldset[disabled] .form-control-home{cursor:not-allowed;background-color:#eee;opacity:1}

 .compare-ul{
    float: right;
}
.compare-ul li:last-child{
  list-style: none;
  float:left;
}
  .compare-li{
    border:1px solid #eaeaea;
    border-radius: 3px;
    width: 28px;
    height: 27px;
    display: table-cell;
    margin-right: 8px;
    float:left;
    list-style: none;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}
.compare-li span{
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.compare-img{
  width: 100%;
}
.glyphicon {
    position: 
}