.collapse{ display:block;}
ul.navigation{ float:left;}
ul.navigation li{ float:left;}
.navigation_right{ float:right;}
.navigation_right li{ float:left;}
.navbar-toggle{ display:none;}
.navbar-collapse{ width:80%; float:right;}
.trends_holder .col-md-12 .col-md-6 { margin-right:10px;}
.navbar-header{ float:left;}
.fb_twit_table_holder .col-md-6 { margin-right:10px !important; float:left !important;}
.bdy_content{ border-right:solid 1px #ddd;border-left:solid 1px #ddd;}

.navbar-nav li{ float:left;}
.navbar-nav{ float:left;}
.navbar-collapse{ width:100%;}
.navbar-nav li a{ color:#000 !important; display:block !important;}
.navbar-nav li{ color:#000 !important; display:block !important;}
.collapse{ visibility:visible !important;}
.navbar-right{ float:right;}
.navbar-nav{ margin:0;}
.search_content_left .navbar-form{ float:left;}
.right_select_box{ margin-right:5px;}
.tag_content a{ margin-right:5px;}
.img_box{ margin-right:5px;}
.auto_compare .col-md-12{ overflow:hidden;}
.auto_detail .col-md-12{ overflow:hidden;}
.auto_more_row .col-md-12{ overflow:hidden;}