/*
body, p {
	font-size: 14px;
}
*/

.colored-header {
	background-color: #3c5895;
}

.npl {
	padding-left: 0px;
}

.npr {
	padding-right: 0px;
}

.header_search_icon {
	padding: 11.5px;
	background-color: #f6f7f9;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.header_search_icon a {
	color: #5d6472;
	font-weight: normal;
}

.banner-icon-search {
    background: #fff;
    font-weight: normal;
}

.select2-container--default .select2-selection--single {
    height: 50.1px;
}

.mega-menu .form-group {
	margin-bottom: 0px;
}

.select2-dropdown--below {
	width: 200px !important;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 300px;
    overflow-y: auto;
}

.menu-search-bar {
	float: left !important;
}

.mega-menu .menu-search-bar li, .mega-menu .menu-search-bar form, .mega-menu .menu-search-bar label {
	width: auto;
}

.mega-menu .menu-links > li > a{
	color: #fff;
}

.section-padding {
    padding: 40px 0;
}

.small-breadcrumb .breadcrumb-link ul li a {
	font-size: 13px;
	font-weight: normal;
}

.single-ad .ad-box .short-history li b {
    font-weight: normal;
    font-size: 14px;
}

.user-information .user-name {
	font-size: 18px;
	font-weight: normal;
}

#accordion .panel-body.categories ul li a {
	font-size: 14px;
}

.skin-minimal .list li label {
	font-size: 14px;
}

.ad-box div, .ad-box span, .ad-box strong, .ad-box p{
	font-size: 14px;

}

.contactPhone, .contactPhone:hover, .contactPhone:active, .contactPhone:visited {
	font-size: 1.7em;
}

.image-upload-2 {width:20%;height:120px;position:relative;overflow:hidden;float:left;}
.image-upload-2 .image-uploading {display:none;z-index:10;position:absolute;top:0;left:0;width:100%;height:100%;background:url(/images/uploading.gif) no-repeat center center;}
.image-upload-2 .image-delete {cursor:pointer;display:none;z-index:10;position:absolute;right:5px;bottom:5px;background:url(/images/icons/remove.png) no-repeat 0 0;width:16px;height:16px;}

.image-upload-2 .image-select {cursor:pointer;z-index:10;position:absolute;right:0;bottom:5;background:url(/images/image-upload.jpg) no-repeat center center;width:100%;height:100%;}

.image-upload-2 .image-uploaded {position:relative;z-index:1;float:left;margin:0;display:none;}
.image-upload-2 .image-uploaded img {width:100%;}

.image-upload-2.uploading .image-uploading {display:block;}
.image-upload-2.uploading .image-select {display:none;}

.image-upload-2.uploaded .image-delete {display:block;}
.image-upload-2.uploaded .image-select {display:none;}
.image-upload-2.uploaded .image-uploaded {display:block;}
input[name="userfile"] {
      height: 100%;
}

#product_password {
	padding: 10px 12px;
}

.btn.btn-zar-editing {
	font-size: 13px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 10px 0;
}

.error {
	color:red;
}

.menu-logo {
	float: right !important;
}

.menu-logo img {
	max-height: 50px;
}
.menu-logo li a:first-child {
	padding: 0px;
}

.select2-selection {
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	background-color: #f6f7f9 !important;
}

.select2-results__option:first-child { display: none !important; }

.mega-menu > section.menu-list-items {
    padding: 10px 0;
}

.mega-menu * {
	font-weight: normal;
}

.add_button {
	background-color: #d22424;
	border-color: #c02121;
	border-radius: 3px;
	font-weight: normal;
	margin-top: 0px !important;
}

.add_button:hover {
	background-color: #a6071d !important;
	border-color: #a6071d !important;
}

[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
	font-size: 35px !important;
}

ul.category-list-data li a {
    padding: 2px 0px 2px 15px;
}

ul.category-list-data li::before {
	top: 2px;
}

ul.category-list-data {
    min-height: 220px;
}

.category-list-title h5 > a {
    font-size: 16px;
}

.menu-mobile-collapse-trigger {
	display: none !important;
}

.user_menu {
	margin-left: 10px;
}

.user_menu > li > a{
	color: #fff;
}

.user_menu_sub li {
	width: 100% !important;
}

.custom-padding {
    padding: 40px 0 30px;
}

#sortType {
	border: 1px solid #0083c9 !important;
	clip: auto !important;
	height: 100% !important;
	width: 100% !important;
	position: inherit !important;
	padding: 5px 5px 5px 5px !important;
	color: #0083c9;
}

.main-content-area .select2-hidden-accessible {
	border: 1px solid #ccc !important;
 	clip: auto !important;
 	height: 100% !important;
 	width: 100% !important;
 	position: inherit !important;
	padding: 15px 5px 15px 5px !important;
}

@media (min-width: 320px) and (max-width: 767px) {
	.mega-menu .menu-search-bar {
	    height: auto;
	}

	.menu-list-items .col-xs-4, .menu-list-items .col-xs-6 {
		padding: 0px;
	}

	.dropdown-menu {
		left: -80px !important;
	}
}

.input-error {
    background-color: #fce7eb;
}
.input-error {
    border: 1px solid #f00 !important;
}

.category-list {
    min-height: 422px;
}


.ajax-file-upload-statusbar {
    float: left;
    width: 125px !important;
}
.ajax-file-upload-filename {
	display: none;
}
.ajax-file-upload-progress {
	width: 100% !important;
}
.ajax-file-upload-bar {
	height: 1px !important;
}

.zar-list-haritsuulah-form label, .btn-haritsuulah-circle {
    font-size: 13px !important;
}

.auto_more_heading .btn-haritsuulah {
    padding-top: 7px;
    font-size: 10px;
}