	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/05/2017 12:52
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-clothes:before { content: "\f100"; }
.flaticon-feeding-bottle:before { content: "\f101"; }
.flaticon-washing-machine:before { content: "\f102"; }
.flaticon-laptop:before { content: "\f103"; }
.flaticon-briefcase:before { content: "\f104"; }
.flaticon-transport:before { content: "\f105"; }
.flaticon-home:before { content: "\f106"; }
.flaticon-wrench:before { content: "\f107"; }