
.dd {
    display: block;
    font-size: 13px;
    line-height: 20px;
    list-style: none outside none;
    margin: 0;
    max-width: 600px;
    padding: 0;
    position: relative;
    overflow: scroll;
}
.dd-list {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.dd-list .dd-list {
    padding-left: 30px;
}
.dd-collapsed .dd-list {
    display: none;
}
.dd-item, .dd-empty, .dd-placeholder {
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    min-height: 20px;
    padding: 0;
    position: relative;
}
.dd-handle {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
}
.dd-handle:hover {
    background: none repeat scroll 0 0 #fff;
    color: #2ea8e5;
}
.dd-item > button {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 1;
    margin: 5px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    text-indent: 100%;
    white-space: nowrap;
    width: 25px;
}
.dd-item > button:before {
    content: "+";
    display: block;
    position: absolute;
    text-align: center;
    text-indent: 0;
    width: 100%;
}
.dd-item > button[data-action="collapse"]:before {
    content: "-";
}
.dd-placeholder, .dd-empty {
    background: none repeat scroll 0 0 #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    margin: 5px 0;
    min-height: 30px;
    padding: 0;
}
.dd-empty {
    background-color: #e5e5e5;
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-position: 0 0px, 30px 30px;
    background-size: 60px 60px;
    border: 1px dashed #bbb;
    min-height: 100px;
}
.dd-dragel {
    pointer-events: none;
    position: absolute;
    z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}
.dd-dragel .dd-handle {
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.dd3-content {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-weight: bold;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    text-decoration: none;
}
.dd3-content:hover {
    background: none repeat scroll 0 0 #d5d5d5;
    color: #2ea8e5;
}
.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}
.dd3-item > button {
    margin-left: 30px;
}
.dd3-handle {
    background: none repeat scroll 0 0 #d5d5d5;
    border: 1px solid #ccc;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 0;
    white-space: nowrap;
    width: 30px;
}
.dd3-handle:before {
    color: #fff;
    content: "≡";
    display: block;
    font-size: 20px;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: 3px;
    width: 100%;
}
.dd3-handle:hover {
    background: none repeat scroll 0 0 #404040;
    border: 1px solid #404040;
}