/*body, p {
	font-size: 14px;
}*/

.colored-header {
	background-color: #3b5998;
}

.npl {
	padding-left: 0px;
}

.npr {
	padding-right: 0px;
}

.header_search_icon {
	padding: 11.5px;
	background-color: #f6f7f9;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.header_search_icon a {
	color: #5d6472;
	font-weight: normal;
}

.banner-icon-search {
    background: #fff;
}

.select2-container--default .select2-selection--single {
    height: 50.1px;
}

.mega-menu .form-group {
	margin-bottom: 0px;
}

.select2-dropdown--below {
	width: 200px !important;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 300px;
    overflow-y: auto;
}

.mega-menu .menu-search-bar li, .mega-menu .menu-search-bar form, .mega-menu .menu-search-bar label {
	width: auto;
}

.mega-menu .menu-links > li > a {
	color: #fff;
}

.section-padding {
    padding: 40px 0;
}

.small-breadcrumb .breadcrumb-link ul li a {
	font-size: 13px;
	font-weight: normal;
}

.single-ad .ad-box .short-history li b {
    font-weight: normal;
    font-size: 14px;
}

.user-information .user-name {
	font-size: 18px;
	font-weight: normal;
}

#accordion .panel-body.categories ul li a {
	font-size: 14px;
}

.skin-minimal .list li label {
	font-size: 14px;
}

.ad-box div, .ad-box span, .ad-box strong, .ad-box p{
	font-size: 14px;

}

.contactPhone, .contactPhone:hover, .contactPhone:active, .contactPhone:visited {
	font-size: 1.7em;
}