/* content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-2 .amazingcarousel-image {	
	position: relative;
	padding: 4px;
}

#amazingcarousel-2 .amazingcarousel-image img {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

#amazingcarousel-2 .amazingcarousel-title {
	position:relative;
	font:14px 'Open Sans', sans-serif;
	color:#333333;
	margin:6px;
	text-align:center;
	text-shadow:0px 1px 1px #fff;
}

/* carousel */

#amazingcarousel-container-2 {
}

#amazingcarousel-2 .amazingcarousel-list-container { 
	padding: 16px 0;
}

/* item */

#amazingcarousel-2 .amazingcarousel-item-container {
	text-align: center;
	padding: 0px 20px;
	background-color: #fff;
}

/* arrows */

#amazingcarousel-2 .amazingcarousel-prev {
	margin-left: -55px;
margin-top: -16px;
right: 40px;
top: -28px;background-position: -8px -31px !important;height:26px !important; width:26px !important;
}

#amazingcarousel-2 .amazingcarousel-prev:hover{background-position: -8px -5px !important;}

#amazingcarousel-2 .amazingcarousel-next {
	right: 0;
top: -28px;
margin-right: 2px;
margin-top: -16px; height:26px !important; width:26px !important;background-position: -34px -5px !important;
}

#amazingcarousel-2 .amazingcarousel-next:hover{background-position: -34px -31px !important;}

/* navigation bullets */

#amazingcarousel-2 .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

#amazingcarousel-2 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}

/* hide navigation on mobile */

@media (max-width: 600px) {
	#amazingcarousel-2 .amazingcarousel-nav {
		display: none;
	}
}

