/* content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-3 .amazingcarousel-image {	
	position: relative;
	padding: 4px;
}

#amazingcarousel-2 .amazingcarousel-prev {
	margin-left: -55px;
margin-top: -16px;
right: 28px;
top: -28px;background-position: -8px -31px !important;height:26px !important; width:26px !important;
}

#amazingcarousel-2 .amazingcarousel-prev:hover{background-position: -8px -5px !important;}
#amazingcarousel-3 .amazingcarousel-prev:hover{background-position: -8px -5px !important;}

#amazingcarousel-2 .amazingcarousel-next {
	right: 0;
top: -28px;
margin-right: 2px;
margin-top: -16px; height:26px !important; width:26px !important;background-position: -34px -5px !important;
}

#amazingcarousel-2 .amazingcarousel-next:hover{background-position: -34px -31px !important;}
#amazingcarousel-3 .amazingcarousel-next:hover{background-position: -34px -31px !important;}

/* carousel */

#amazingcarousel-container-3 {
}

#amazingcarousel-3 .amazingcarousel-list-container { 
	padding: 16px 0;
}

/* item */

#amazingcarousel-3 .amazingcarousel-item-container {
	text-align: center;
	padding: 0px 20px;
	background-color: #fff;
}

/* arrows */

#amazingcarousel-3 .amazingcarousel-prev {
	margin-left: -55px;
margin-top: -16px;
right: 28px;
top: -28px;
background-position: -8px -31px !important;
height: 26px !important;
width: 26px !important;
}

#amazingcarousel-3 .amazingcarousel-next {
	right: 0px;
top: -28px;
margin-right: 2px;
margin-top: -16px;
height: 26px !important;
width: 26px !important;
background-position: -34px -5px !important;
}

/* navigation bullets */

#amazingcarousel-3 .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

#amazingcarousel-3 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}

/* hide navigation on mobile */

@media (max-width: 600px) {
	#amazingcarousel-3 .amazingcarousel-nav {
		display: none;
	}
}

