.banner-top{
   width: 1010px;
   height: 20px;
   background: url(../images/banner-top.jpg);
   margin: -32px -20px 0;
}
.banner-bottom{
   width: 1010px;
   height: 20px;
   background: url(../images/banner-bottom.jpg);
   margin: 0 -20px 23px; 
}
         #tabs, .ui-tabs .ui-widget .ui-widget-content .ui-corner-all{
            width: 1010px;
            height: 300px;
            padding: 0;
            margin: 0 0 0 -20px;
            border: none;
            background-color: #ffffff;
         }
         .ui-widget-content {
            border: none;
            background-color: #ffffff !important;
            height: 300px;
         }
         .ui-widget-header, .ui-tabs .ui-tabs-nav {
            background: url(../images/slider-bg.png) repeat-y;
            width:220px;
            height: 300px;
            margin: 0;
            padding: 0;
            float: right; 
            border: none;
            border-radius: 0;    
         }
         .ui-tabs-anchor{
            width: 220px;
            height: 74px;
            background: url(../images/slider-bg.png) repeat-y;
         }
         .space{
            position: relative;
            float: left;
            width: 220px;
            height: 1px;
            background: url(../images/space.png) repeat-x;
         }
         .ui-tabs .ui-tabs-nav li .li{
            position: relative;
            padding-top: 26px;     
            padding-left: 30px;
            padding-bottom: 29px;
            border: none;
            border-radius: 0;
         }
         .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
            border: none;
         }
         .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-nav .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-tabs .ui-tabs-nav li.li, .ui-tabs .ui-tabs-nav li{
            padding: 0;
            margin: 0;
         }
         .ui-state-default a,
         .ui-state-default a:link,
         .ui-state-default a:visited {
            color: white !important; 
            text-decoration: none;
            /*font-family: Roboto !important;*/
            /*font-weight: bold !important;*/
            font-style: italic !important;
            font-size: 16px;
            text-transform: uppercase;
         }
         .ui-state-active a,
         .ui-state-active a:link,
         .ui-state-active a:visited {
            color: #ec0109  !important;
         }
         .ui-state-active a .li{
            width: 220px;
            height: 75px;
            border: none;
            /*background-color: #ffffff;*/
         }