
.navbar-topbar>.navbar{
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:none;
    border-bottom: 1px #e1e1e1 solid;
    height: 39px;
    min-height: 39px;
    background: #f5f5f5;
}

.navbar-topbar>.navbar>.container{
    padding: 0;
}

.navbar-topbar ul.nav > li > a > i{
    font-size: 20px;
}

.navbar-topbar ul.nav > li > a{
    padding-top: 10px; 
    padding-bottom: 9px;
    border-left: 1px #e1e1e1 solid;
    color: #999;
}

.navbar-topbar ul.nav > li:last-child > a{
    border-right: 1px #e1e1e1 solid;
}
.navbar-topbar ul.bigap > li > a{
    text-transform: uppercase;
    font-size: 11px;
}

.navbar-topbar ul.nav > li.active > a{
    color: #e3002c;
    background: #fff;
    border-bottom: 1px #da1919 solid;
    padding-bottom: 8px;
}

.navbar-topbar ul.nav > li > a:hover, .navbar-topbar ul.nav > li > a:focus{
    padding-bottom: 8px;
}

.navbar-topbar ul.navbar-right > li > a{
    color: #666;
}
.navbar-topbar ul.navbar-right > li:not(:first-child) > a> i{
    font-size: 13px;
}

.navbar-topbar ul.navbar-right > li.active > a{
    color: #555555;
}
.navbar-topbar ul.navbar-right > li > a > .badge{
    background: #f4333c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 3px;
    font-size: 10px;
    color: #fff;
    position: absolute;
    top: 22px;
    left: 26px;
}

#not-li{
    position: relative;
}
#not-container {
    background-color: #fff;
    overflow: visible;
    position: absolute;
    top: 50px;
    margin-left: -308px;
    width: 360px;
    z-index: 1001;
    display: none;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.35);
}
#not-container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: 20px;
    margin-left: 320px;
    margin-top: -20px;
}
#not-container>#not-title {
    font-weight: bold;
    padding: 8px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
#not-container>#not-body {
    padding: 0 !important;
    min-height:200px;
}
#not-container>#not-footer {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    border-top: 1px solid #dddddd;
}

#editprofile-li{
    position: relative;
}
#editprofile-container {
    background-color: #fff;
    overflow: visible;
    position: absolute;
    top: 50px;
    margin-left: -3px;
    width: 150px;
    z-index: 1001;
    display: none;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.35);
}

#editprofile-container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: 20px;
    margin-left: 15px;
    margin-top: -20px;
}

#editprofile-container>#not-title {
    font-weight: bold;
    padding: 8px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
#editprofile-container>#editprofile-body {
    padding: 0 !important;
    min-height:98px;
}

.editprofile-list {
    padding-left:0;
    line-height: 15px;
}

.editprofile-list li{
    border-bottom: 1px solid #ddd;   
    list-style: none;
    margin-top:10px;
}
.editprofile-list li p{
    text-align: left;
    margin-left:20px;
}


#editprofile-container>#not-footer {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    border-top: 1px solid #dddddd;
}

.chat-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin: 0 0 10px 0;
}
h4.chat-title{
    font-size: 14px;
    padding: 26px 0 22px 20px;
    border-bottom: 1px #e1e1e1 solid;
    margin: 0;
}

h4.chat-title>span{
    color: #e31132;
}

h1.chat-title{
    font-size: 16px;
}

.chat-main .col-chat{
    padding: 0;
}

@media (min-width: 992px) {
    .chat-main .col-chat:first-child{
        max-width: 360px;
    }

    .chat-main .col-chat:last-child{
        width: 610px;
    }
    .chat-main .col-chat>.chat-title{
        padding-left: 30px;
    }
}

.msg-scroll { 
    position:relative; 
    margin:0px auto; 
    padding:0px; 
    height: 440px; 
    overflow: hidden; 
}

ul.msg-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.msg-list>li{
    padding: 20px 20px 20px 30px;
    border-bottom: 1px #e1e1e1 solid;
    border-right: 1px #e1e1e1 solid;
    background: #fdfdfd;
}
ul.msg-list>li.active{
    padding: 20px 20px 20px 25px;
    border-right: none;
    border-left: 5px #e31132 solid;
    background: #fff;
}

ul.msg-list>li>a{
    display: block;
    color: #666;
    position: relative;
}
ul.msg-list>li>a:hover, ul.msg-list>li>a:active, ul.msg-list>li>a:focus{
    text-decoration: none;
}

ul.msg-list>li>a>img{
    float: left;
    margin-right: 10px;
}
ul.msg-list>li>a>p{
    white-space: pre;
    color: #666;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}
ul.msg-list>li>a>p>span.date{
    color: #999;
    margin-left: 10px;
    font-size: 11px;
}
ul.msg-list>li>a>p>span.paragraph-end {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background-image: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background-image: -ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background-image: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00ffffff',EndColorStr='#ffffff');
    bottom: 0;
    height: 25px;
    max-height: 100%;
    position: absolute;
    right: 0;
    width: 60px;
}

ul.msg-list>li>a>span.badge{
    position: absolute;
    background: #e31132;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    color: #fff;
    padding: 5px 8px;
    top: 30%;
    right: 0;
}

.chat-scroll { 
    position:relative; 
    margin:0px 30px; 
    padding:0px; 
    height: 360px; 
    overflow: hidden;    
}

ul.chating{
    list-style: none;
    padding: 0;
}
ul.chating>li{
    padding: 20px 0;
    color: #666;
}
ul.chating>li>.img{
    float: left;
}

ul.chating>li>dl{
    margin: 0 0 0 55px;
}

ul.chating>li>dl .name>span.date{
    color: #999;
    margin-left: 10px;
    font-size: 11px;
}
ul.chating>li>dl p{
    margin: 0;
}

.chat-frm{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}
.chat-frm>.col{
    margin: 0;
    padding: 0;
}
.chat-frm>.col:last-child{
    padding: 5px 0 0 5px;
}
.chat-frm textarea{
    border-top: 1px #cdcdcd solid;
    border-left: 1px #cdcdcd solid;
    border-bottom: 1px #e4e4e4 solid;
    border-right: 1px #e4e4e4 solid;
    resize: vertical;
    width: 100%;
    height: 42px;
}

.chat-frm button{
    width: 100%;
}

.search-block{
    padding: 25px 30px 0 0;
    min-height: 30px;
}
.search-block input{
    border: 1px #e1e1e1 solid;
    display: none;
}
.search-block button{
    border: none;
    background: transparent;
    color: #666;
    height: 26px;
}