#header{
    margin-bottom: 0px !important;
}

.profile {
    height: 100%;
    min-height: 130px !important;
    width: 220px !important;
}

/* same height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .row-md-height {
        display: table;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
/* end same height*/
#header {margin:0;}
#main {background:#f5f5f5 url(../images/shadow_top.png) repeat-x top;margin:0;}
#main > .container {
    background:#fff;
}

#main > .crumbcontainer{
  background: transparent;
  padding:0;
}

#main > .crumbcontainer > .breadcrumb{
  margin:0;
  padding: 24px 15px;
  background: transparent;
}

#main > .crumbcontainer > .breadcrumb a{
  color:#333;
}

@media (min-width: 992px) {
    .company-main {position:relative;}
    .company-main:before {
        content:'';
        position:absolute;
        width:1px;
        height:100%;
        background:#e1e1e1;
        left:204px;
        top:0;
        bottom:0;
    }
}

@media (min-width: 992px){
  .col-md-cleft {
    width: 220px;
  }
  .col-md-cright {
    width: 780px;
  }
}

.margin-30{
    margin: 30px 15px 30px 15px;
}

.profile>.margin-30, .cat-block>.margin-30, .contact-block>.margin-30, .feedback-block>.margin-30{
    margin: 30px 30px;
}

.margin-30>.btn{
    font-weight: normal !important;
    padding: 9px 12px;
    border-radius:3px;
}

.banner-section{
    margin-top: 10px;
}

.banner-section>.img{
    padding: 4px;
    border: #e1e1e1 1px solid;
    display: block;
}

.banner-section>.link{
    color: #333333;
    text-align: center;
    margin: 10px;
    display: block;
}
.banner-section>.link:hover{
    text-decoration: none;
}

.banner-section>.link>span:first-child{
    display: block;
    font-size: 20px;
}

.banner-section>.link>span:last-child{
    color: #999999;
    display: block;
}

.company-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin: 0 0 10px 0;
}
h4.company-title{
    font-size: 14px;
}

h1.company-title{
    font-size: 16px;
}

.left-block{
    margin: auto -15px;
    border-top: 1px #e1e1e1 solid;
}

.left-block>.btn-edit{
    background: #e1e1e1;
    padding: 8px 9px;
    color: #fff;
}

.video-block{
   width: 220px;
}

.cat-block{
    border: none;
}

.contact-block{
    width: 220px;
}


.nav-profile > li > a,
.nav-cat > li > a{
  padding: 2px 0 2px 10px !important;
  color: #666666 !important;
  text-decoration: none !important;

}
.nav-profile > li.active > a,
.nav-profile > li.active > a:hover,
.nav-profile > li.active > a:focus {
    color: #fff !important;
    background-color: #E31132 !important;
}

.nav-profile > li > a > span{
    color: #666 !important;
}
.nav-profile > li.active > a > span,
.nav-profile > li.active > a:hover > span,
.nav-profile > li.active > a:focus > span{
    color: #fff !important;
}

.nav-cat{
    list-style: url(../images/arraw_right.png);
    padding-left: 12px !important;
}

.nav-cat>li>a{
    padding-left: 0 !important;
}

.cc{
    padding-top: 10px;
}
.cc>div:first-child{
    padding: 5px 0 5px 15px;
    color: #E31132;
}

.cc>div:last-child{
    padding-left: 2px;
    color: #666666;
}

.feed-form input, .feed-form textarea{
    width: 100%;
    background: #f5f5f5;
    border: none;
    resize: none;
    padding: 10px;
}
.feed-form{
    padding-top: 10px;
}
.feed-form>div{
    margin-bottom: 5px;
}

.feed-form>div:last-child>.btn{
    background: #E31132;
    color: #fff;
    border: none;
}

.feed-form>div:last-child>.btn:hover{
    color: rgba(255,255,255,0.9);
}

/*
* right side
*/
.pagebanner{
    margin-bottom: -10px;
}
select.sorter {
   border: none;
   background: #f1efec;
   color:#666;
   padding: 2px 5px;
   display: inline;
}

.listmenu>a{
    background: url(../images/icon_listmenu.png) no-repeat top left;
    width: 19px;
    height: 17px;
    display: inline-block;
    margin-top: 2px;
}

.listmenu>a, .listmenu>a:hover{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.listmenu>a{
    background: url(../images/icon_listmenu.png) no-repeat top left;
    width: 19px;
    height: 17px;
    display: inline-block;
    margin-top: 2px;
}
.listmenu>a.grid{
    background-position-x: -19px;
}

.listmenu>a.grid.active, .listmenu>a.grid:hover{
    background-position-y: -17px;
}

.listmenu>a.list.active, .listmenu>a.list:hover{
    background-position-y: -17px;
}

.productlist{
    margin-top: 15px;
}

.productlist .thumbnail{
    border: none;
    padding: 0;
}

.productlist .thumbnail>a.img{
    border: 1px #f1f1f1 solid;
    display: block;
}
.productlist .thumbnail>a.img>img{    
    height: 138px; 
    width: 100%;
}

.productlist .thumbnail>.details>a{
    margin: 15px 0 5px 0;
    display: block;
}

.productlist .thumbnail>.details>strong{
    display: block;
    color: #e31132;
    font-size: 16px;
}

.recommend{
    border-top: 1px #f1f1f1 solid;
    margin: auto -15px;
    padding-top: 30px;
}

.recommend>.row{
    margin: auto 15px;
}
.carousel-ctrl{
    color: #d3d3d3;
}
.carousel-ctrl>span.mypager>.bx-default-pager.bx-pager{
    display: inline-block;
}
.carousel-ctrl>a{
    background: #fbfbfb;
    color: #a1a1a1;
    padding: 5px 8px;
}

.carousel-ctrl>a:hover,.carousel-ctrl>a:focus, .carousel-ctrl>a:active{
    background: #ececec;
    color: #333333;
    text-decoration: none;
}

.bx-wrapper {
    margin: 0;
}
.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:  none;
    left: 0;
    background: transparent;
}

.btn btn-red btn-block a {
    color: #fff !important;    
}

.details a {
    color: #666666 !important;
    text-decoration: none !important;
}

.details a {
    background: none repeat scroll 0 0 transparent !important;
}

.nav-cat li a {
    color: #666666 !important;
    text-decoration: none !important;
}

.nav-cat li {
    color: #666666 !important;
}

.nav-cat li a {
    background: none repeat scroll 0 0 transparent !important;
}

.covers li {
    margin-left:-20px;

}