
#header {margin:0;}
#main .container {margin-top:-32px;}
#main {background:#f5f5f5;margin:0;}
#main > .container {
    background:#fff;
    padding-top:80px;
    padding-bottom:80px;
}

.coupon-category {margin:0 0 40px 0;}
.coupon-category ul {margin:0;padding:0;list-style-type:none;}
.coupon-category ul li {margin:0 0 4px 0;}
.coupon-category ul li:last-child {margin:0;}
.coupon-category ul li a {background:#f5f5f5;display:block;padding:5px;line-height:22px;color:#333333;font-size:13px;}
.coupon-category ul li a:hover {text-decoration:none;color:#000;background:#eee;}
.coupon-category ul li a b {font-weight:normal;}

.coupon-category-2 {}
.coupon-category-2 ul {margin:0;padding:0;list-style-type:none;border-top:1px solid #e1e1e1;}
.coupon-category-2 ul li {border-bottom:1px solid #e1e1e1;padding:2px 0;}
.coupon-category-2 ul li a {display:block;padding:5px 0;line-height:22px;color:#333333;font-size:13px;}
.coupon-category-2 ul li a:hover {text-decoration:none;color:#000;}
.coupon-category-2 ul li a b {font-weight:normal;}

.product-1 {background:#f5f5f5;height:140px;margin:0 0 30px 0;position:relative;}
/*.product-1 .product-image {float:left;width:165px;height:140px;}*/
.product-1 .product-image {

    text-align: center;
    float:left; height: 140px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 165px;}
/*.product-1 .product-image img {max-height:100%;max-width:100%;}*/
.product-1 .product-info {padding:6px 10px 0 185px;}
/*.product-1 .product-image img {width:100%;}*/
#blank {
    text-align: center;
    color:gray;
}
.product-1 .product-info h1 {font-size:13px;color:#666666;}
.product-1 .product-info h1 a {color:#666666;}
.product-1 .product-info h1 a:hover {color:#000;}
.product-1 .product-info .price {font-size:18px;color:#e31132;font-weight:bold;letter-spacing:-0.5px;}

.product-1 .coupon {position:absolute;right:0;bottom:0;}

.coupon {display:inline-block;min-width:48px;height:22px;color:#fff;position:relative;background:url(/images/coupon.png) no-repeat 0 0;font-size:14px;font-weight:bold;padding:0 0 0 16px;letter-spacing:-0.5px;}
.coupon.red {background-position:0 0;}
.coupon.green {background-position:0 -22px;}
.coupon.blue {background-position:0 -44px;}
.coupon.yellow {background-position:0 -66px;}

.coupon-category .coupon {margin:0 10px 0 0;}

.coupon-title {font-size:16px;font-weight:bold;text-transform:uppercase;color:#333;margin:0 0 30px 0;}



@media (min-width: 992px) {
    .coupon-main {position:relative;}
    .coupon-main:before {
        content:'';
        position:absolute;
        width:1px;
        height:100%;
        background:#e1e1e1;
        left:215px;
        top:0;
        bottom:0;
    }
}


.coupon-left-col {padding-right:26px;}
