/* same height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .row-md-height {
        display: table;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
/* end same height*/


#header {margin:0;}
#main {background:#f5f5f5 url(../images/shadow_top.png) repeat-x top;margin:0;padding-bottom:32px;}
#main > .container {
    background:#fff;
}

#main > .crumbcontainer{
  background: transparent;
  padding:0;
}

#main > .crumbcontainer > .breadcrumb{
  margin:0;
  padding: 24px 15px;
  background: transparent;
}

#main > .crumbcontainer > .breadcrumb a{
  color:#333;
}

.margin-30{
    margin: 14px 0px;
}

.tab-menu{
    border-radius: none;
}
.tab-menu>li>a{
    background: #e31132;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 15px;
    color:#fff;
}

.tab-menu > li.active > a{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color:#e31132;
    color: #e31132;
}

.tab-menu >li>a:hover{
    background-color: #FF5973;
    color: #fff;
}

@media (min-width: 992px) {
    .tab-menu>li:not(:last-child){
        padding-right: 5px; 
    }
}

/* start slider
/**profile home banner slider**/
#homeban-carousel-container {
    margin: 15px 0 0 -15px;
}
#homeban-carousel {margin:0 0 0 0;padding:0;list-style-type:none;}
#homeban-carousel .container {position:relative;}
#homeban-carousel .container .banner {height:300px;position:relative;}
#homeban-carousel-container {position:relative;}
#homeban-carousel-container .bx-controls {width:100%;direction:ltr;width:1000px;margin:0 auto;position:relative;top:-40px;z-index:100;}
#homeban-carousel-container .bx-controls .bx-pager {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    position:absolute;
    left:40px;
}
#homeban-carousel-container .bx-controls .bx-pager-item {display:inline-block;}
#homeban-carousel-container .bx-controls .bx-pager-item a {
    text-indent: -9999px;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    background: #1867b2;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 5px;
    border:4px solid #fff;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
#homeban-carousel-container .bx-controls .bx-pager-item a.active {background:#e31132;}

.section-banner {background-color:#f2f2f2;margin:-32px 0 35px 0;}
#homeban-carousel li > div {
    height:300px;
    position:relative;
}

#homeban-carousel li > div img {position:absolute;right:0;}
#homeban-carousel li > div h4 {
    font-weight:500;
    font-size:28px;
    line-height:28px;
    margin:0 0 20px 0;
    color:#333;
    text-transform:uppercase;

}

#homeban-carousel li > div p {

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;

    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;                 
    position:relative;
    opacity:0;

    bottom:-10px;
    text-align:left;

    font-size:15px;
    color:#666;
}

#homeban-carousel li > div p.bd {
    margin-bottom:30px;
}
#homeban-carousel li > div p.bm {
    transition-duration: 0.6s;
    -webkit-transition-delay: 0.6s;

    bottom:-8px;
}

#homeban-carousel li.ddd > div p {
    opacity:1;
    bottom:0;
    text-align:left;
}

#homeban-carousel li > div aside{

    display:block;
    z-index:10;
    position:absolute;
    top:20px;
    left:0px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;

    opacity:0;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;

    background-color:rgba(0,0,0,0.0);
    padding:50px 0 60px 0;
    height:290px;

    width:40%;                  
}

#homeban-carousel li.ddd > div aside {opacity:1;top:0;}

a.btn-tour {
    background-color:#e31132;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 6px 20px;
    color: #fff;
    outline: none;
    text-decoration:none;
    font-size:13px;
    font-weight:400;
    float:left;
    font-weight:700;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    box-shadow:0 2px 0 rgba(0,0,0,0.1);
}

a.btn-tour .fa {
    margin:3px 0 0 12px;
    font-size:16px;
    float:right;
}

a.btn-tour:hover, a.btn-tour:focus {
    background: #ee6511;
}

#homeban-carousel-container {

}

.banner-home .bx-pager-item {float:left;}

/**end profile home banner slider**/