
/*.header-top {border-bottom:1px solid #f7f7f7;padding:6px 0;font-size:13px;color:#999;}*/

#header {
    width:100%;
    z-index:9999;
    background-color:#fff;
    background-color:rgba(255,255,255,1);
    position:relative;
    z-index:999;
    margin-bottom:32px;
}

#header .top-bar {background:#fefefe;height:80px;}
#header .logo {float:left;margin-right:20px;margin-top:0px;}

#header .bottom-bar {background:#e31132;height:56px;}
#header .bottom-bar-inner {padding:12px 0;}

#header .ad-ads {float:left;}
#header .ad-search {float:left;margin:0 0 0 16px;}
.user-search {float:left;margin:0 0 0 16px;}




#header .icon {background-image:url(/images/duguilsan.png);background-repeat:no-repeat;}
.icon {background-image:url(/images/icons.png);background-repeat:no-repeat;}
#header .user-links {float:right;margin-top:-12px; margin-right: 11px;}
#header .user-links a {float:left;font-size:11px;line-height:14px;min-height:27px;font-weight:bold;color:#fff;height:50px;padding:12px 10px;}
#header .user-links a:hover {}
#header .user-links a i {float:left;width:27px;height:27px;}
#header .user-links a b {font-weight:normal;float:left;margin-left:6px;}
#header .user-links a:hover b {}

@media (min-width: 100px) and (max-width: 969px)
{
    .icon {display: none;}
    #header .user-links {display: none;}     
}

.my-checked-ads i {background-position:0 0!important;}
.my-ads i {background-position:0 -54px!important;}
#header .user-links a em {font-style:normal;display:block;line-height:27px;text-align:center;color:#fff;font-size:12px;letter-spacing:-0.5px;}





.btn-red {background:#e31132;color:#fff;}
.btn-red:hover {background:#c50f2b;color:#fff;}

.btn-submit-ad {font-size:15px;font-weight:bold;padding: 0 36px;float:left;height:32px;line-height:32px;background:#e31132;color:#fff;background-color:#830015;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.btn-submit-ad span {display:inline-block;margin:0 15px 0 0;}
.btn-submit-ad:hover {background-color:#6e0012;}



.btn {font-weight:700!important;color:rgba(255,255,255,0.95);}

.ad-search-input {float:left;height:32px;position:relative;background:#fff;}
.ad-search-txt {border:#f7f7f7;border:0 none;padding:4px 10px 4px 10px;width:500px;max-width:100%;height:32px;}
.user-search-input {float:left;height:32px;position:relative;background:#fff;}
.user-search-txt {border:#f7f7f7;border:1px solid #f7f7f7;padding:4px 10px 4px 10px;width:300px;max-width:100%;height:32px;}


.btn-search-submit {
    background-color:#840e0f;height:32px;line-height:32px;padding:0 20px;margin-left:0;float:left;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
.btn-search-submit span {display:inline-block;margin:0 8px 0 0;}
.btn-search-submit:hover {background-color:#4e4e4e;}


.category {
    margin:20px 0 0 0;
    padding:0;
    list-style-type:none;
    clear:both;
}

.category li {
    margin:4px 0;
    line-height:18px;
    color:#111;
    font-size:1.05em;
    font-weight:400;
}

.category li.level-2 {
    background:#fcf0f0;
    font-weight:700;

}
.category li.level-2 a {}

.category a {color:#000;padding:2px 4px;display:block;}

.category a span {display:inline-block;height:20px;width:30px;line-height:30px;text-align:center;}
.category a span i {line-height:20px;color:#ccc;}
.category a span i.fa-mobile-phone {font-size:20px;}


.category-box {margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #f1f1f1;position:relative;z-index:1;}

.category-header {margin:0 0 0 0;position:relative;}
.category-header a {}

.category-header span.category-icon {float:left;position:absolute;left:0;top:0;}


.category-icon-box {
    display:block;width:42px;height:42px;text-align:center;vertical-align:middle;display:table-cell;background-color:#31CA64;

    border:3px solid rgba(49,202,100,0.4);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    overflow:hidden;
    border-radius:100px;
}
.category-icon-box i {
    color:#fff;
    font-size:19px;
    font-weight:normal;
    line-height:34px;
    overflow:hidden;
    width:34px;
    height:34px;
}

.category-header .category-title {
    margin:0;
    display:block;
    padding-left:48px;

    font-weight:bold;
    font-size:14px;
    color:#111;
    text-transform:uppercase;
    padding-right:28px;
}
.category-header .category-title span {display:table-cell;vertical-align:middle;height:40px;}

.categories {position:relative;}



.category-col {width:20%;float:left;padding:0 10px 10px 10px;position:relative;}



@media (min-width: 768px) {

    .category-col:before {
        content:" ";position:absolute;height:500px;width:1px;top:0;right:0;z-index:0;
        margin:0 -1px 0 0;
        opacity:1;
        background: rgb(238,238,238);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    }

    .categories:before {
        content:" ";position:absolute;height:500px;width:1px;top:0;left:0;z-index:0;
        margin:0 0 0 -1px;
        opacity:1;
        background: rgb(238,238,238);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    }
}

/* AD SHOW POPUP */

.ad-view .ad-phone-number {font-size:13px;color:#888;font-weight:normal;float:left;}
.ad-view .ad-phone-number b {color:#333;font-weight:normal;}

.ad-view .ad-price {font-size:13px;float:left;color:#888;}
.ad-view .ad-price b {color:#e31132;font-weight:normal;}

.ad-view .ad-tools {opacity:1;left:auto;right:0;top:14px;}

.ad-view-header {
    border-bottom:1px solid #eee;
    padding:0 80px 12px 0;
    margin:0 0 12px 0;
    position:relative;}

.ad-view-header h1 {
    font-size:18px;
    letter-spacing:-0.5px;
    line-height:28px;
    margin:0 0 2px 0;
    font-weight:bold;
    float:left;
    border-color:#fff;
    border-style:solid;
    border-width:4px 4px 2px 4px;
    padding:8px 10px;
    border-radius:30px;
    margin-left:-15px;
}

.ad-view.duguilsan .ad-view-title h1 {
    border-color:#e31132;
}

.ad-view .ad-txt {font-size:13px;clear:left;line-height:24px;color:#111;}

.date {color:#888;clear:left;}

.ad-view-col {padding:100px 0;margin:0 auto;width:80%;}

.ad-view-col.hasPhoto {width:100%;position:relative;padding:80px 0;}


.ad-view-col.hasPhoto .ad-view {
    float:right;
    width:30%;
    margin-right:20px;
}

.ad-view-col .ad-photo-view {
    float:left;
    width:63.5%;
    margin:0 0 0 20px;
}


.photo-view {
    height:440px;
    overflow:hidden;
    background-repeat:no-repeat;
    background-position:50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-prev-next {float:right;}

.btn-prev-ad, .btn-next-ad {float:left;}

.btn-prev-ad {float:left;position:fixed;left:0;top:50%;margin-top:-25px;}
.btn-next-ad {float:left;position:fixed;right:0;top:50%;margin-top:-25px;}


.btn-next-ad {float:left;border-left:1px solid #b60622;}

.btn-prev-ad a,
.btn-next-ad a {float:left;display:block;width:50px;height:49px;background:#e31132;text-align:center;color:#fff;font-size:28px;}

.btn-prev-ad a:hover,
.btn-next-ad a:hover {text-decoration:none;background-color:#ce0c2b;color:#fff;}


.btn-prev-ad a i, .btn-next-ad a i {line-height:44px;}


.popup-close {float:right;}
.popup-close span {float:left;border-left:1px solid #b60622;}
.btn-popup-close {float:left;display:block;width:50px;height:49px;background:#e31132;text-align:center;color:#fff;font-size:20px;line-height:44px;}
.btn-popup-close:hover {text-decoration:none;background-color:#ce0c2b;color:#fff;}
.btn-popup-close i {line-height:44px;}



.popup-top-bar {position:fixed;width:100%;z-index:99999;left:0;top:0;}
.popup-top-bar .fancybox-margin {padding-right:1px;}
.popup-top-bar-inner {background:#fefefe;height:50px;box-shadow:0 1px 1px rgba(0,0,0,0.1);}

#ad-photo-container {}

#photo-slider {margin:0;padding:0;list-style-type:none;float:left;}

#photo-slider-container {margin:0 0 20px 0;position:relative;}



.photo-slider-thumbnail {margin-top:10px;}

#ad-photo-pager {margin:0 -5px 0 -5px;}

.ad-thumnails {}
.ad-thumnails a {float:left;padding:5px;border:1px solid #eee;margin:5px 5px 0 5px;}
.ad-thumnails a.active {border-color:#e31132;}
.ad-thumnails a:last-child {margin-right:0;}
.ad-thumnails a img {width:65px;height:49px;}


/* AD SHOW POPUP END */

/** AD LIST **/
.ads-list {
    margin:0;
    padding:0;
    list-style-type:none;
    border-top:1px solid #eee;
    position:relative;
}

.ad-box {position:relative;font-size:14px;border-bottom:1px dashed #eee;min-height:110px;}

.ad-box:hover {background-color:#ffffee;}


.ad-box a {color:#000;}
.ad-box span {float:left;display:block;}

.ads-list-head, .ad-box {display:block;padding:22px 60px 22px 135px;}


.ad-box .ad-date {float:right;width:53px;text-align:left;float:right!important;text-align:right!important;width:100px;display:block;}

.ad-box .ad-info {width:490px;float:left;font-size:14px;color:#000;position:relative;}


.ad-box .ad-info {}
.ad-box.hasPhoto .ad-info {padding-left:120px;min-height:96px;}

.ad-box .ad-photo {position:absolute;width:100px;height:75px;left:0;top:4px;}
.ad-box .ad-photo img {width:100%;vertical-align:bottom;float:left;}

.ad-box .ad-title {
    font-weight:bold;
    float:left;
    line-height:18px;
    margin:0;
    font-size:15px;
    border:2px solid #fff;
    border-top-width:2px;
    border-bottom-width:1px;
    margin-left:-6px;
    padding:2px 4px;
    border-radius:100px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;

}

.ad-box .ad-info p {
    line-height:18px;
    font-size:13px;
    color:#444;
    clear:both;
    margin:4px 0 0 0;
    float:left;
}

.ad.duguilsan .ad-title {
    border-color:#e31132;;
}


.ad-box .ad-flds {float:right!important;margin:26px 0 0 0;}

.ad-box .fld {float:left!important;}
.ad-box .fld.fld-1 {}
.ad-box .fld.fld-2 {}
.ad-box .fld.fld-3 {}

.ad-box .ad-price {color:#e31132;}

.ads-list-head {border-top:1px solid #f8f8f8;background-color:#fafafa;font-weight:bold;font-size:14px;line-height:16px;}
.ads-list-head .ad-box .fld {color:#000;}




select {font-size:14px;}

/*SEARCH  FILTER */
.search-filter-container {margin-bottom:20px;}
.search-filter {padding:10px;background:#f8f8f8;}
.search-filter select {width:100%;}
.search-filter > div {margin:8px 0;float:left;width:100%;width:50%;height:20px;padding:0 10px;}

.ad-tools {
    position:absolute;
    font-size:11px;
    text-transform:lowercase;
    color:#ccc;
    opacity:0.1;
    left:24px;
    top:26px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;                            
}

.ad:hover .ad-tools {opacity:1;}

.toggle-check span.icon {float:left;width:27px;height:27px;background-position:0 -54px!important;cursor:pointer;}
.duguilsan .toggle-check span.icon {background-position:0 0px!important;}

.toggle-check p {
    font-size:11px;
    line-height:12px;
    margin:2px 0 0 0;
    color:#777;
    display:block;
    float:left;
    display:block;
    float:left;
    clear:left;
    cursor:pointer;
    border:1px solid #fff;
    padding:2px 0;
    border-radius:30px;
    color:#000;
    opacity:1;
    font-weight:bold;
}

.ad-list-container {border-left:1px solid #eee;border-right:1px solid #eee;}



.fixed-user-links {
    position:fixed;float:none;margin:0 0 0 -180px;width:122px;opacity:0;
    background-color:#ffffee;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    bottom:20px;
}

.fixed-user-links.visible {
    opacity:1;
    margin:0 0 0 -160px;
}

.fixed-user-links .user-links a em {
    font-size:30px;
    font-weight:normal;
    display:inline-block;
}

.fixed-user-links a {width:120px;height:auto;}
.fixed-user-links .my-checked-ads {
    border:1px solid #eee;
    border-radius:2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    text-align:center;
}
.fixed-user-links .my-checked-ads:hover {text-decoration:none;}
.fixed-user-links .my-checked-ads.active {width:120px;border:1px solid #f3f38e;}

.my-checked-ads.active {background-color:#ffffaa;}


.fixed-user-links .user-links a b {float:none;display:block;margin:10px 0 0 0;}

/** END AD LIST **/




.form-sumbit-ad {border:1px solid #eee;border-top:none;margin-top:-32px;}
.form-container {position:relative;min-height:500px;padding:40px 40px;}



.form-row {margin:6px 0;float:left;clear:left;width:100%;}
.form-row label {
    margin:0 0 4px 0;
    color:#333;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
}

.form-row label span {color:#e31132;}

.form-cols-4 {margin:0 -5px;clear:both;}
.form-cols-4 .form-col {padding:0 5px;float:left;width:25%;}
.form-col-2 {margin:0 -5px;}
.form-col-2 .form-col {width:50%;float:left;padding:0 5px;}

.form-row textarea,
.form-row input[type="text"] {width:100%;border:1px solid #cecece;padding:4px;color:#333;font-size:13px;}

.form-row select {border:1px solid #cecece;width:100%;padding:4px;font-size:13px;}

.form-row p.desc {font-size:11px;line-height:16px;margin:8px 0 0 0;color:#888;}
.form-flds {}
.form-flds .form-flds-col:last-child {border-bottom:0 none;padding-bottom:0;}
.form-flds-col {padding:0 100px 18px 100px;margin-bottom:10px;border-bottom:1px solid #eee;}

.form-title {font-size:16px;font-weight:bold;text-transform:uppercase;}

.form-flds-group {}

.image-upload-2 {width:86px;height:65px;position:relative;border:1px solid #eee;overflow:hidden;float:left;margin:0 8px 8px 0;}
.image-upload-2 .image-uploading {display:none;z-index:10;position:absolute;top:0;left:0;width:100%;height:100%;background:url(/images/uploading.gif) no-repeat center center;}
.image-upload-2 .image-delete {cursor:pointer;display:none;z-index:10;position:absolute;right:5px;bottom:5px;background:url(/images/icons/remove.png) no-repeat 0 0;width:16px;height:16px;}

.image-upload-2 .image-select {cursor:pointer;z-index:10;position:absolute;right:0;bottom:5;background:url(/images/image-select.png) no-repeat center center;width:100%;height:100%;}

.image-upload-2 .image-uploaded {position:relative;z-index:1;float:left;margin:0;display:none;}
.image-upload-2 .image-uploaded img {width:100%;}

.image-upload-2.uploading .image-uploading {display:block;}
.image-upload-2.uploading .image-select {display:none;}

.image-upload-2.uploaded .image-delete {display:block;}
.image-upload-2.uploaded .image-select {display:none;}
.image-upload-2.uploaded .image-uploaded {display:block;}

:-moz-any-link:focus {
    outline: none;
}

.bx-wrapper {
    position:relative;
}


#slider-next,
#slider-prev {
    float:left;display:block;width:28px;height:51px;overflow:hidden;
    position:absolute;top:0;margin-top:0;z-index:80;
    font-size:66px;color:#fff;
    opacity:0;
    text-align:center;line-height:50px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    text-decoration:none!important;
    text-shadow:0 1px 1px rgba(0,0,0,0.5);

}

#photo-slider-container:hover #slider-next,
#photo-slider-container:hover #slider-prev {
    opacity:1;
}

#slider-next i,
#slider-prev i {
    line-height:50px;
    display:block;
    color:#fff;
    position:absolute;
    top:50%;
    margin-top:-40px;
}

#slider-next i {right:10px;}
#slider-prev i {left:10px;}

#slider-next:hover a,
#slider-prev:hover a {
    text-decoration:none!important;
}

#slider-next:hover a i,
#slider-prev:hover a i{
    text-decoration:none!important;
}

#slider-prev {left:0;width:50%;height:100%;}
#slider-next {right:0;width:50%;height:100%;}

#slider-prev a {position:absolute;width:100%;height:100%;left:0;top:0;}
#slider-next a {position:absolute;width:100%;height:100%;left:0;top:0;}


.bm-bread-crumb {margin-bottom:30px;padding:0 0;}
.bm-bread-crumb > ul {margin:0;padding:0;list-style-type:none;}
.bm-bread-crumb > ul > li > a {display:block;float:left;padding:0 10px;}

.bm-bread-crumb > ul > li {
    float:left;font-size:14px;text-transform:uppercase;position:relative;height:24px;line-height:24px;color:#555;
}
.bm-bread-crumb > ul > li > a,
.bm-bread-crumb > ul > li > b {
    color:#222;
    border:1px solid #eee;
    display:block;
    float:left;
    padding:0 10px;
    font-weight:bold;
    /*box-shadow:0 1px 1px rgba(0,0,0,0.1);*/
    cursor:pointer;
}
.subscribe_od {
    background: url(/images/star.png) no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
}

.subscribe_od:hover {
    background: url(/images/star_hover.png) no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
}

.bm-bread-crumb > ul > li:hover > b, .bm-bread-crumb > ul > li:hover > a  {background:#e0e0e0;border:1px solid #e0e0e0;color:#111;}


.bm-bread-crumb > ul > li > b i, .bm-bread-crumb > ul > li > a i  {margin-left:10px;}
.bm-bread-crumb > ul > li span {padding:0 12px;font-size:12px;color:#ccc;}


.bm-dropdown {position:absolute;width:190px;background:#FEFEFE;z-index:100;top:26px;box-shadow:0 1px 1px rgba(0,0,0,0.2);display:none;}
.bm-dropdown ul {padding:10px 0;margin:0;list-style-type:none;}
.bm-dropdown ul li {padding:0;margin:0;text-transform:none;font-size:14px;}
.bm-dropdown ul li a {color:#222;display:block;padding:2px 10px;}
.bm-dropdown ul li a:hover {color:#830015;text-decoration:none;background:#fafafa;}

.bm-bread-crumb > ul > li:hover .bm-dropdown {display:block;}


.bm-pager {text-align:center;padding:20px 0;font-weight:normal;font-size:13px;}
.bm-pager a {color:#555;display:inline-block;padding:2px 6px;background:#fafafa;margin:0 2px;}
.bm-pager span {color:#555;display:inline-block;padding:2px 6px;background:#fefefe;margin:0 2px;}
.bm-pager-prev {float:left;}
.bm-pager-next {float:right;}

.ad-notification {}


.ad-notification {
    position:fixed;
    margin:0 0 0 -160px;
    width:122px;
    opacity:1;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    bottom:20px;
}

.ad-notification.visible {
    opacity:1;
    margin:0 0 0 -160px;
}

.ad-notification a {
    display:block;
    padding:20px 0;
    text-align:center;
    color:#000;

    border:1px solid #f9f9de;
    background-color:#ffffe2;
}

.ad-notification.active a,
.ad-notification a:hover {
    text-decoration:none;
    background-color:#ffffaa;
    border:1px solid #f3f38e;
}

.ad-notification a em {
    font-size:30px;
    display:block;
    font-weight:normal;
    font-style:normal;
}

.ad-notification a span {
    display:block;
    margin:4px 0 0 0;
    font-size:11px;
}

.social-links {margin: 0 13px 10px;}
.social-links a {float:right;height:30px;width:30px;display:block;text-align:center;font-size:20px;background:#eee;margin:4px ;}
.social-links a i {line-height:30px;}

.footer-cols .footer-col:last-child {padding:0!important;}
.footer-cols .footer-col:last-child:before {width:0!important;}

/*#footer {background:#fafafa;font-size:12px;color:#656565;border-top:1px solid #eee;}*/
#footer {
    background: none repeat scroll 0 0 #2f2f2f;
    border-top: 1px solid #eee;
    color: #f2f2f2;
    font-size: 12px;
}
#footer > .container {padding-top:30px;padding-bottom:30px;}
#footer ul {margin:0;padding:0;list-style-type:none;}
#footer ul li a {color:#f2f2f2;}
#footer h4 {font-size:13px;}
#footer a {color:#8C8989;}
#footer a:hover {text-decoration:none;color:#8C8989;}

#footer .footer-cols {position:relative;}

/*#footer .footer-cols:before {

    content:" ";
    position:absolute;width:1px;top:0;left:0;bottom:0;z-index:0;;
    margin:0 0 0 -1px;
    opacity:1;

    background: rgb(238,238,238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );

}*/
#footer .footer-col {width:20%;float:left;padding:0 14px 10px 14px;position:relative; height: 148px}

#footer .footer-col:before {
    content:" ";position:absolute;width:1px;top:0;right:0;bottom:0;z-index:0;
    margin:0 -1px 0 0;
    opacity:1;
    background: rgb(20,20,20);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(20,20,20,1) 0%, rgba(20,20,20,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,20,20,1)), color-stop(100%,rgba(20,20,20,1)));
    background: -webkit-linear-gradient(top,  rgba(20,20,20,1) 0%,rgba(20,20,20,1) 100%);
    background: -o-linear-gradient(top,  rgba(20,20,20,1) 0%,rgba(20,20,20,1) 100%);
    background: -ms-linear-gradient(top,  rgba(20,20,20,1) 0%,rgba(20,20,20,1) 100%);
    background: linear-gradient(to bottom,  rgba(20,20,20,1) 0%,rgba(20,20,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );

}

.footer-bottom-bar {background:#282a2b;padding-top:10px;padding-bottom:10px;border-top:1px solid #4b4c4d;color:#8C8989;font-size:12px;font-size:11px; margin-top: -22px;}


.bm-dropdown ul {height:200px;overflow-y: auto;}
.tooltip {white-space:nowrap;}
.tooltip .tooltip-inner {padding:6px 10px;font-size:11px;text-transform:uppercase;}




.ad-box-m {position:relative;font-size:14px;border-bottom:1px dashed #eee;min-height:50px;}
.ad-box-m-feat {position:relative;font-size:14px;border-bottom:1px solid #fff;min-height:120px;background: #ffedc2}

.ad-box-m:hover {background-color:#ffffee;}


.ad-box-m a {color:#000;}
.ad-box-m-feat a {color:#000;}
.ad-box-m span {float:left;display:block;}

.ads-list-head, .ad-box-m {display:block;padding:12px 10px 12px 80px;}
.ads-list-head, .ad-box-m-feat {display:block;padding:12px 10px 12px 80px;}


.ad-box-m .ad-date {float:right!important;text-align:right!important;width:100px;display:block;}
.ad-box-m-feat .ad-date {float:right!important;text-align:right!important;width:100px;display:block;}

.ad-box-m .ad-info {width:450px;float:left;font-size:14px;color:#000;position:relative;}
.ad-box-m-feat .ad-info {width:450px;float:left;font-size:14px;color:#000;position:relative;}


.ad-box-m .ad-info {}
.ad-box-m.hasPhoto .ad-info {padding-left:80px;min-height:55px;}
.ad-box-m-feat .hasPhoto .ad-info {padding-left:80px; padding-top:24px; min-height:55px;}

.ad-box-m .ad-photo {position:absolute;width:65px;height:50px;left:0;top:4px;overflow:hidden;}
.ad-box-m-feat .ad-photo {position:absolute;width:100px;height:76px;left:0;top:13px;overflow:hidden;}
.ad-box-m .ad-photo img {width:100%;vertical-align:bottom;float:left;}
.ad-box-m-feat .ad-photo img {width:100%;vertical-align:bottom;float:left;}

.ad-box-m .ad-title {
    font-weight:normal;
    float:left;
    line-height:18px;
    margin:0;
    font-size:14px;
    border:2px solid #fff;
    border-top-width:2px;
    border-bottom-width:1px;
    margin-left:-6px;
    padding:2px 4px;
    border-radius:100px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;

}

.ad-box-m-feat .ad-title {
    font-size: 16px;
    font-weight:bold;
    float:left;
    line-height:22px;
    margin:0;
    border:2px solid #ffedc2;
    border-top-width:2px;
    border-bottom-width:1px;
    margin-left:118px;
    padding:16px 4px;
    border-radius:100px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;

}

.ad-box-m .ad-info p {
    line-height:18px;
    font-size:13px;
    color:#444;
    clear:both;
    margin:4px 0 0 0;
    float:left;
}

.ad-box-m-feat .ad-info p {
    line-height:18px;
    font-size: 16px;
    font-weight:bold;
    color:#444;
    clear:both;
    margin:4px 0 0 0;
    float:left;
}

.ad.duguilsan .ad-title {
    border-color:#e31132;;
}


.ad-box-m .ad-flds {float:right!important;margin:0 0 0 0;display:block;width:364px;margin-top:2px;}

.ad-box-m .fld {float:left!important;}

.ad-box-m-feat .ad-flds {float:right!important;margin:17px 0 0 0;display:block;width:364px;}

.ad-box-m-feat .fld {float:left!important;}

.ad-box-m .fld.fld-1 {}
.ad-box-m .fld.fld-2 {}
.ad-box-m .fld.fld-3 {}

.ad-box-m-feat .fld.fld-1 {margin: 0 0 0 -17px;}
.ad-box-m-feat .fld.fld-2 {margin: 0 0 0 -33px;}
.ad-box-m-feat .fld.fld-3 {}

.ad-box-m .ad-price {color:#e31132;}
.ad-box-m .ad-phone {width:170px;color:#333;}

.ad-box-m-feat .ad-price {color:#e31132;font-size: 16px;font-weight:bold;}
.ad-box-m-feat .ad-phone {width:170px;color:#333;font-size: 16px;font-weight:bold;}

.ads-list-head {border-top:1px solid #f8f8f8;background-color:#eee;font-weight:bold;font-size:14px;line-height:16px;}
.ads-list-head .ad-box-m .fld {color:#000;}
.ads-list-head .ad-box-m-feat .fld {color:#000;}

.ad-box-m .ad-tools {top:10px;}
.ad-box-m .ad-tools p {display:none;}


.ad-box-m-feat .ad-tools {top:10px;}
.ad-box-m-feat .ad-tools p {display:none;}

.ad-box-m.hasPhoto .ad-tools {top:22px;}
.ad-box-m-feat.hasPhoto .ad-tools {top:43px;}

.ad-box-m .ad-date {float:right!important;width:auto!important;color:#333;}
.ad-box-m-feat .ad-date {float:right!important;width:auto!important;color:#333;font-size: 16px;font-weight:bold; padding-right:48px;}

.ad-box-m .bottom_shadow  {
}
.ad-box-m-feat .bottom_shadow  {
    position: absolute;
    top: 32px;
    right: -4px;
}


.ad-box-m a:visited {color:#8d0000!important;}
.ad-box-m-feat a:visited {color:#8d0000!important;}

.category a:visited {color:#8d0000!important;}

.btn-fullscreen {position:absolute;z-index:82;right:10px;top:10px;text-shadow:0 0 2px rgba(0, 0, 0, 0.5);}
.btn-fullscreen a {
    color:#fff;font-size:28px;opacity:0.3;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
.btn-fullscreen a:hover {opacity:1;}

.ad-photos-container {text-align:center;}
.ad-photos-container > div {margin-bottom:10px;}
.ad-photos-container > div:last-child {margin-bottom:0;}
.ad-photos-container img {max-width:100%!important;}


/* show ad */

.ad-view .ad-phone-number {font-size:18px;color:#888;font-weight:normal;float:left;letter-spacing:-0.3px}
.ad-view .ad-phone-number b {color:#333;font-weight:normal;}

.ad-view .ad-price {font-size:18px;float:left;color:#888;letter-spacing:-0.3px}
.ad-view .ad-price b {color:#e31132;font-weight:normal;}

.ad-view .ad-tools {opacity:1;left:auto;right:0;top:14px;}

.ad-view-header {
    border-bottom:1px solid #eee;
    padding:0 80px 12px 0;
    margin:0 0 12px 0;
    position:relative;}

.ad-view-header h1 {
    font-size:18px;
    letter-spacing:-0.5px;
    line-height:24px;
    margin:0 0 2px 0;
    font-weight:bold;
    float:left;
    border-color:#fff;
    border-style:solid;
    border-width:4px 4px 2px 4px;
    padding:8px 10px;
    border-radius:30px;
    margin-left:-15px;
}

.ad-view.duguilsan .ad-view-title h1 {
    border-color:#e31132;
}

.ad-view .ad-txt {font-size:13px;clear:left;line-height:22px;color:#111;margin-top:8px;}

.date {color:#888;clear:left;}

.ad-view-col {padding:100px 0;margin:0 auto;width:80%;}


.ad-view-col.hasPhoto {width:100%;position:relative;padding:22px 0;margin:0;}


.ad-view-col.hasPhoto .ad-view {
    float:right;
    width:35%;
    margin-right:20px;
}

.ad-view-col .ad-photo-view {
    float:left;
    width:55.5%;
    margin:0 0 0 20px;
}

.photo-view {
    height:360px;
    overflow:hidden;
    background-repeat:no-repeat;
    background-position:50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad-share {border-top:1px solid #eee;padding-top:20px;margin-bottom:20px;}

ul.share {margin:0;padding:0;height:21px;list-style: none outside none;}
ul.share li {float:left;margin-left:4px;}
ul.share li:first-child {margin-left:0;}
ul.share li a {width:21px;height:21px;float:left;display:block;background-image:url(/images/icon-share.png);background-repeat:no-repeat;}
ul.share li a:hover {opacity:0.8;}
ul.share li a span {display:none;}
ul.share li a.email {background-position:0 0;}
ul.share li a.biznetwork {background-position:-27px 0;}
ul.share li a.facebook {background-position:-54px 0;}
ul.share li a.twitter {background-position:-80px 0;;}
ul.share li a.print {background-position:-107px 0;}

.search-suggestion {position:absolute;left:0;top:32px;background:#fff;width:100%;display:none;}
.search-suggestion ul {border-top:1px solid #eee;box-shadow:0 2px 2px rgba(0,0,0,0.2);margin:0;padding:0;list-style-type:none;}
.search-suggestion ul li {line-height:18px;font-size:13px;}
.search-suggestion ul a {display:block;padding:6px 10px;color:#333;text-decoration:none;}
.search-suggestion ul a:hover {background-color:#FCF0F0;color:#000;}

.user-suggestion {position:absolute;left:0;top:32px;background:#fff;width:100%;display:none;}
.user-suggestion ul {border-top:1px solid #eee;box-shadow:0 2px 2px rgba(0,0,0,0.2);margin:0;padding:0;list-style-type:none;}
.user-suggestion ul li {line-height:18px;font-size:13px;}
.user-suggestion ul a {display:block;padding:6px 10px;color:#333;text-decoration:none;}
.user-suggestion ul a:hover {background-color:#FCF0F0;color:#000;}

.alert-email-subscribe {}
.alert-email-subscribe a {color:#000;}
.alert-email-subscribe .alert {padding:8px 15px;}
body.modal-open {
    overflow: hidden!important;
}
.modal {}
body {background-color:#fff;}

.form-cols-2 {margin:0 -5px;}
.form-cols-2 .form-col {width:50%;padding:0 5px;float:left;}
.form-row.inline label {margin:0 0 0 10px;cursor:pointer;}

.form-row.inline input[type="checkbox"] {float:left;}

.input-email {padding:15px!important;font-size:15px!important;}

.email-subscribe {}

.email-subscribe .form-row {margin:12px 0;}

.modal-content {border-radius:0;}
.btn-gray {background:#969696;}
.btn-gray:hover {background:#6d6d6d;}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    /* HEADER SECTION */

    .category-col {padding:0 2px 10px 2px;}

    /* HOME SECTION */
    .category-header .category-title {padding-left:56px;} 
    .category-box {margin-bottom:10px;padding-bottom:10px;}
    .category-col {width:auto;float:none;padding:0;padding:0 0;}
    .category {display:none;}


    #header .bottom-bar {position:relative;}
    #header .bottom-bar-inner {}

    .btn-submit-ad {
        padding:0 8px;
        font-size:14px;
        font-weight:bold;
        width:90px;
        padding:0 0;
        overflow:hidden;
    }

    #header .ad-ads {position:absolute;left:15px;}
    #header .ad-search {width:100%;margin:0;padding-left:96px;background:transparent;}

    .ad-search-input {float:none;padding-right:50px;}
    .ad-search-txt {max-width:100%;}

    .user-search-input {float:none;padding-right:50px;}
    .user-search-txt {max-width:100%;}
    .user-search {width:100%;margin:0;padding-left:96px;background:transparent;}
    .btn-search-submit {position:absolute;right:15px;top:12px;}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {



}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

    .category-col {width:auto;float:none;padding:0;padding:0 0;}

    body {background:#fff;}

    /*HEADER SECTION*/
    #header .pull-right {position:absolute;right:0;top:0;}
    /*search*/


    .user-links a b {display:none;}

    .btn-search-submit {width:40px;position:absolute;}
    .btn-search-submit:before {content:" ";position:absolute;left:0;top:0;width:100%;height:100%;background:red;z-index:1000;}


}


/**home banner slider**/

#banner-carousel {margin:0 0 0 0;padding:0;list-style-type:none;}
#banner-carousel .container {position:relative;}
#banner-carousel .container .banner {height:300px;position:relative;}
#banner-carousel-container {position:relative;}
#banner-carousel-container .bx-controls {width:100%;direction:ltr;width:1000px;margin:0 auto;position:relative;top:-40px;z-index:100;}
#banner-carousel-container .bx-controls .bx-pager {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    position:absolute;right:20px;
}
#banner-carousel-container .bx-controls .bx-pager-item {display:inline-block;}
#banner-carousel-container .bx-controls .bx-pager-item a {
    text-indent: -9999px;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    background: #1867b2;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 5px;
    border:4px solid #fff;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
#banner-carousel-container .bx-controls .bx-pager-item a.active {background:#e31132;}

.section-banner {background-color:#f2f2f2;margin:-32px 0 35px 0;}
#banner-carousel li > div {
    height:300px;
    position:relative;
}

#banner-carousel li > div img {position:absolute;right:0;}
#banner-carousel li > div h4 {
    font-weight:500;
    font-size:28px;
    line-height:28px;
    margin:0 0 20px 0;
    color:#333;
    text-transform:uppercase;

}

#banner-carousel li > div p {

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;

    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;                 
    position:relative;
    opacity:0;

    bottom:-10px;
    text-align:left;

    font-size:15px;
    color:#666;
}

#banner-carousel li > div p.bd {
    margin-bottom:30px;
}
#banner-carousel li > div p.bm {
    transition-duration: 0.6s;
    -webkit-transition-delay: 0.6s;

    bottom:-8px;
}

#banner-carousel li.ddd > div p {
    opacity:1;
    bottom:0;
    text-align:left;
}

#banner-carousel li > div aside{

    display:block;
    z-index:10;
    position:absolute;
    top:20px;
    left:0px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;

    opacity:0;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;

    background-color:rgba(0,0,0,0.0);
    padding:50px 0 60px 0;
    height:290px;

    width:40%;                  
}

#banner-carousel li.ddd > div aside {opacity:1;top:0;}

a.btn-tour {
    background-color:#e31132;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 6px 20px;
    color: #fff;
    outline: none;
    text-decoration:none;
    font-size:13px;
    font-weight:400;
    float:left;
    font-weight:700;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    box-shadow:0 2px 0 rgba(0,0,0,0.1);
}

a.btn-tour .fa {
    margin:3px 0 0 12px;
    font-size:16px;
    float:right;
}

a.btn-tour:hover, a.btn-tour:focus {
    background: #ee6511;
}

#banner-carousel-container {

}

.banner-home .bx-pager-item {float:left;}

/**end home banner slider**/



/** last design change **/
.siteNav {}
.siteNav ul {margin:0;padding:0;list-style-type:none;border-left:1px solid #e1e1e1;}
.siteNav ul li {float:left;}
.siteNav ul li {float:left;border-right:1px solid #e1e1e1;}
.siteNav ul li a {color:#666;font-size:11px;text-transform:uppercase;line-height:36px;padding:0 15px;display:block;float:left;}
.siteNav ul li i.fa {font-size:18px;line-height:36px;color:#c4c4c4;}


.siteNav ul.sec li span {display:block;float:left;margin-right:8px;}
.siteNav ul.sec li i.fa {font-size:14px;color:#c4c4c4;}

.siteNav ul.prim {float:left;}
.siteNav ul.sec {float:right;}
.siteNav ul.sec a {text-transform:none;font-size:12px;}

.siteNav ul li a:hover {text-decoration:none;color:#333;background-color:#fff;}

.siteNav ul.prim li a.active {background-color:#fff;color:#e3002c;position:relative;}
.siteNav ul.prim li a.active i.fa {color:#e3002c;}
.siteNav ul.prim li a.active:after {content:"";position:absolute;bottom:0;width:100%;left:0;height:1px;background:#da1919;z-index:10; }


.barPrim {background:#f5f5f5;position:relative;height:36px;overflow:hidden;}
.barPrim:after {content:"";position:absolute;bottom:0;width:100%;left:0;height:1px;background:#e1e1e1;}
/** end last design change **/