.input-error {
    border: 1px solid #f00 !important;
}
.ad-box-m .ad-date {float:right!important;
                    /*text-align:right!important;*/
                    width:75px !important;
                    display:block;
                    text-align: left!important;
}

.ad-box-m .ad-action {width:40px;color:#333;}
.ad-box-m .ad-date {
    float:left !important;
    /*width:auto!important;*/
    color:#333;
}
.ad-box-m .ad-phone {
    width: 150px !important;
}
.ad-box-m .ad-price {
    width: 115px !important;
}

.ad-box-m .ad-flds {
    width: 385px !important;
}
.alert-success-flash .alert {padding:8px 15px;}