/* same height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .row-md-height {
        display: table;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
/* end same height*/


#header {margin:0;}
#main {background:#f5f5f5 url(../images/shadow_top.png) repeat-x top;margin:0;padding-bottom:32px;}
#main > .container {
    background:#fff;
}

#main > .crumbcontainer{
  background: transparent;
  padding:0;
}

#main > .crumbcontainer > .breadcrumb{
  margin:0;
  padding: 24px 15px;
  background: transparent;
}

#main > .crumbcontainer > .breadcrumb a{
  color:#333;
}

.margin-30{
    margin: 30px 15px 30px 15px;
}

.tab-menu{
    border-radius: none;
}
.tab-menu>li>a{
    background: #e31132;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 15px;
    color:#fff;
}

.tab-menu > li.active > a{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color:#e31132;
    color: #e31132;
}

.tab-menu >li>a:hover{
    background-color: #FF5973;
    color: #fff;
}

.profile-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin: 0 0 10px 0;
}
h4.profile-title{
    font-size: 14px;
}

h1.profile-title{
    font-size: 16px;
}

@media (min-width: 992px) {
    .tab-menu>li:not(:last-child){
        padding-right: 5px; 
    }
}

.padding-20{
    margin: 20px 0;
}

.eventrow{
    background: #f5f5f5;
    margin: 0 0 20px 0;
}
.eventrow>div:first-child{
    padding: 0;
}

.eventc {background:#f5f5f5;height:190px;position:relative;}
.eventc>.img {
    float:left;
    margin: 20px;
    width: 150px;
    padding: 0;
}
.eventc>.text{
    width: 210px;
    height: 100%;
    margin-left: 170px;
    padding-top: 25px;
}

.eventc>.text>.link{
    color: #333333;
    display: block;
}
.eventc>.text>.link:hover{
    text-decoration: none;
}
.eventc>.text>.link>span:first-child{
    display: block;
    font-size: 20px;
}
.eventc>.text>.link>span:last-child{
    color: #999999;
    display: block;
}

.eventc>.text>.cbtn{
    list-style: none;
    padding: 0;
    margin: 0;
}
.eventc>.text>.cbtn>li{
    float: left;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px #cecece solid;
    margin-right: 5px;
    text-align: center;
}
.eventc>.text>.cbtn>li>a{
    color: #999;
    padding: 8px;
}
.eventc>.text>.cbtn>li>a:last-child{
    padding: 8px;
}
.eventc>.text>.cbtn>li>a:hover{
    text-decoration: none;
}

.eventc>.btn-more{
    position: absolute;
    bottom: 20px;
    left: 190px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #E31132;
}

.eventc>.btn-more:hover, .btn-more:focus {
    color: #999;
}

/*
* start slider
*/
.pslide{
    margin: 20px -20px 20px -20px;
}
.pslide>.bx-wrapper {
    margin: 0;
}
.pslide>.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:  none;
    left: 0;
    background: transparent;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 16px;
    outline: 0;
    width: 24px;
    height: 140px;
    text-indent: -9999px;
    z-index: 9999;
}
.bx-wrapper .bx-prev, .pslide>.bx-wrapper .bx-next{
    color: #fff;
}
.bx-wrapper .bx-prev{
    left: -38px;
    background: #ccc url(../images/icon_left_arraw.png) no-repeat center center;
}
.bx-wrapper .bx-next{
    right: -38px;
    background: #ccc url(../images/icon_right_arraw.png) no-repeat center center;
}
.bx-wrapper .bx-prev:hover {
     background: #ccc url(../images/icon_left_arraw.png) no-repeat center center;
}
.bx-wrapper .bx-next:hover {
    background: #ccc url(../images/icon_right_arraw.png) no-repeat center center;
}
.bx-wrapper .bx-controls-direction a.disabled{
    background-color: #e5e5e5;
    display: block;
}

/****/
.followslider>li>a{
    color: #666666;
}

.followslider>li>a.img{
    width: 140px;
    height: 120px;
    position: relative;
    display: block;
}

.followslider>li>a>span{
    bottom: 1px;
    right: 0;
    position: absolute;
    background: #e31132;
    color: #fff;
    display: block;
    padding: 5px;
}

.btn-more1{
    border-radius: 20px;
    padding: 8px 30px;
    color: #999999;
    margin-top: 10px;
}