    /* same height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .row-md-height {
        display: table;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
/* end same height*/


#header {margin:0;}
#main {background:#f5f5f5 url(../images/shadow_top.png) repeat-x top;margin:0;padding-bottom:32px;}
#main > .container {
    background:#fff;
}

#main > .crumbcontainer{
  background: transparent;
  padding:0;
}

#main > .crumbcontainer > .breadcrumb{
  margin:0;
  padding: 24px 15px;
  background: transparent;
}

#main > .crumbcontainer > .breadcrumb a{
  color:#333;
}

.margin-30{
    margin: 30px 15px 30px 15px;
}

.tab-menu{
    border-radius: none;
}
.tab-menu>li>a{
    background: #e31132;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 15px;
    color:#fff;
}

.tab-menu > li.active > a{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color:#e31132;
    color: #e31132;
}

.tab-menu >li>a:hover{
    background-color: #FF5973;
    color: #fff;
}


.profile-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin: 0 0 10px 0;
}
h4.profile-title{
    font-size: 14px;
}

h1.profile-title{
    font-size: 16px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .tab-menu>li:not(:last-child){
        padding-right: 5px; 
    }
}

.bx-wrapper {
    margin: 0;
}
.bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:  none;
	left: 0;
	background: #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    width: 16px;
    height: 16px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 4px solid #515152;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    border-color:#e3002c;
    background: #fff;
}

.bx-controls.bx-has-pager{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: relative;
    bottom: 0;
    width: 100%;
}

.event-block{
    border-top: 1px #e1e1e1 solid;
    color: #666666;
}

.eitem{
    margin-top: 20px;
}
.eitem>h4.event-title{
    font-weight: bold;
    color: #e31132;
    margin: 0 0 10px 0;
    font-size: 14px;
}

.eitem>.row{
    margin-right: 0;
    margin-left: 0;
}

.eitem>h4.event-title>span{
    color: #666;
}
.eitem>.date{
    color: #999;
    font-size: 11px;
    font-family: "Myriad Pro";
}

.eitem>.giveaway-added>div:first-child,.eitem>.store-added>div:first-child{
    background: #f5f5f5;
}
.eitem>div>div:first-child{
    padding-left: 0;
    padding-right: 0;
}
.eitem>div>div:last-child{
    font-size: 14px;
    line-height: 30px;
    padding-left: 20px;
}

@media (min-width: 992px) {
    .eitem>div>div:first-child{
        width: 400px;
    }
    .eitem>div>div:last-child{
        width: 100%;
    }
}

.eventc {background:#f5f5f5;height:190px;position:relative;}
.eventc>.img {
    float:left;
    margin: 20px;
    width: 150px;
    padding: 0;
}
.eventc>.text{
    width: 210px;
    height: 100%;
    margin-left: 170px;
    padding-top: 25px;
}

.eventc>.text>.link{
    color: #333333;
    display: block;
}
.eventc>.text>.link:hover{
    text-decoration: none;
}
.eventc>.text>.link>span:first-child{
    display: block;
    font-size: 20px;
}
.eventc>.text>.link>span:last-child{
    color: #999999;
    display: block;
}

.eventc>.text>.cbtn{
    list-style: none;
    padding: 0;
    margin: 0;
}
.eventc>.text>.cbtn>li{
    float: left;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px #cecece solid;
    margin-right: 5px;
    text-align: center;
}
.eventc>.text>.cbtn>li>a{
    color: #999;
    padding: 8px;
}
.eventc>.text>.cbtn>li>a:last-child{
    padding: 8px;
}
.eventc>.text>.cbtn>li>a:hover{
    text-decoration: none;
}

.eventc>.btn-more{
    position: absolute;
    bottom: 20px;
    left: 190px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.eventc>.btn-more:hover, .btn-more:focus {
    color: #999;
}


.product-1 {background:#f5f5f5;height:140px;position:relative;}
.product-1 .product-image {float:left;width:165px;height:140px;}
.product-1 .product-image img {max-height:100%;max-width:100%;}
.product-1 .product-info {padding:6px 10px 0 185px;}

.product-1 .product-image img {width:100%;}

.product-1 .product-info h1 {font-size:13px;color:#666666;}
.product-1 .product-info h1 a {color:#666666;}
.product-1 .product-info h1 a:hover {color:#000;}
.product-1 .product-info .price {font-size:18px;color:#e31132;font-weight:bold;letter-spacing:-0.5px;}

.product-1 .coupon {position:absolute;right:0;bottom:0;}

.coupon {display:inline-block;min-width:48px;height:22px;color:#fff;position:relative;background:url(../images/coupon.png) no-repeat 0 0;font-size:14px;font-weight:bold;padding:0 0 0 16px;letter-spacing:-0.5px;}
.coupon.red {background-position:0 0;}
.coupon.green {background-position:0 -22px;}
.coupon.blue {background-position:0 -44px;}
.coupon.yellow {background-position:0 -66px;}