/* same height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .row-md-height {
        display: table;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
/* end same height*/


#header {margin:0;}
#main {background:#f5f5f5 url(../images/shadow_top.png) repeat-x top;margin:0;padding-bottom:32px;}
#main > .container {
    background:#fff;
}

#main > .crumbcontainer{
  background: transparent;
  padding:0;
}

#main > .crumbcontainer > .breadcrumb{
  margin:0;
  padding: 24px 15px;
  background: transparent;
}

#main > .crumbcontainer > .breadcrumb a{
  color:#333;
}

.margin-30{
    margin: 30px 15px 30px 15px;
}

.tab-menu{
    border-radius: none;
}
.tab-menu>li>a{
    background: #e31132;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 15px;
    color:#fff;
}

.tab-menu > li.active > a{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color:#e31132;
    color: #e31132;
}

.tab-menu >li>a:hover{
    background-color: #FF5973;
    color: #fff;
}

.profile-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin: 0 0 10px 0;
}
h4.profile-title{
    font-size: 14px;
}

h1.profile-title{
    font-size: 16px;
}

.padding-20{
    margin: 20px 0;
}
.pitem{
    background: #f5f5f5;
}
.pitem>a.img{
    margin-right: 24px;
    display: block;
}
.pitem>.details{
    padding-top: 24px;
}
.pitem>.details>.date{
    color: #999;
    font-size: 11px;
    font-family: "Myriad Pro";
}

.pitem>.details>.name{
    color: #666;
    font-size: 14px;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

.pitem>.details>.price{
    color: #e31132;
    font-size: 16px;
}

@media (min-width: 992px) {
    .tab-menu>li:not(:last-child){
        padding-right: 5px; 
    }
    .pitem{
        padding: 0;
        margin: 0 15px 20px 15px;
        width: 47.45%;
    }
    .pitem:first-child{
        margin-right: 10px;
    }
    .pitem:last-child{
        margin-left: 10px;
        margin-right: 0;
    }
}

.pctrl{
    margin: 5px 10px 10px 0;
}
.pctrl>a{
    padding: 3px 5px;
    border-radius: 2px;
    color: #fff;
}

.pctrl>.btn-remove{
    background: #e31132;
}

.pctrl>.btn-edit{
    background: #32bc12;
}
.pctrl>.btn-refresh{
    background: #0c79e8;
}

.btn-more1{
    border-radius: 20px;
    padding: 8px 30px;
    color: #999999;
    margin-top: 10px;
}