@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic);
@import url(font-awesome.min.css);
body {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 14px;
	background: #CCCCCC;
}
.banner .carousel-indicators {
	position: absolute;
	bottom: -8px;
	right: 3px;
	left: auto;
	width: 40px;
}
.banner .carousel-indicators {
 background:
}
.banner .carousel-indicators li {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: #FFF;
}
.headerbanner {
	background: #FFF;
	border-bottom: 1px solid #cccccc;
}
 @media screen and (max-width: 1200px) {
.headerbanner {
	display: none;
}
}
.zar-category-body {
	border-top: 1px solid #cccccc;
	margin-bottom: 1px;
}
.zar-category-body .category-content {
	padding-bottom: 15px;
	padding-top: 15px;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}
.zar-category-body .left-sidebar {
	padding-bottom: 15px;
}
.zar-category-body .right-sidebar {
	padding-bottom: 15px;
}
.sitecontent {
	background: #FFF;
	max-width: 1140px;
}
.searchs {
	padding-top: 15px;
	padding-bottom: 0px;
}
@media screen and (min-width: 996px) and (max-width: 1200px) {
	.searchs {
		zoom: 0.9;
	}
	.compare-ul {
		display:block;
	}
}
@media screen and (max-width: 996px) {
	.zar-category-body .category-content {
		border: none;
	}
	.zar-category-body {
		border: none;
	}
	.cat-searchs {
		width: 690px;
		margin: 15px auto;
		float: none;
	}
	.searchs {
		zoom: 0.5;
	}
	.compare-ul {
		display:none;
	}
}
.btn-angilal {
	width: 170px;
	height: 41px;
	background-image: url('../images/category.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.btn-tuluv {
	width: 170px;
	height: 41px;
	display: block;
	background-image: url(../images/zariin_tuluv.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #CCCCCC;
}
#header {
	border-bottom: 1px solid #CCCBCB;
	background: #FFF;
}
.btn-zaradd {
	width: 170px;
	height: 41px;
	background-image: url(../images/addzar.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.btn-zarsearch {
	width: 170px;
	height: 41px;
	background-image: url(../images/searchbtn.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.searchs-text {
	height: 41px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
#header .navbar {
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
	background: #FFF;
	box-shadow: none;
	max-width: 1140px;
	font-size: 13px;
	margin: 0px auto;
}
#header .navbar ul li a {
	color: #999999
}
#header .navbar ul li.usermenu a div {
	float: left;
	margin-right: 5px;
}
@media screen and (min-width: 996px) {
#header .navbar ul li.usermenu {
	text-align: center;
}
#header .navbar ul li.usermenu a span {
	font-size: 15px;
}
#header .navbar ul li.usermenu a span :before {
	clear: both;
}
#header .navbar ul li.usermenu a div {
	float: none;
	margin-right: 0px;
}
#header ul li.usermenu a {
	padding: 11px 3px 4px 3px;
	font-size: 7.5px;
	line-height: 16px;
}
#header ul li.usermenu ul.dropdown-menu {
	min-width: 100px !important;
}
#header ul li.usermenu ul li a {
	font-size: 13px;
	line-height: 7px;
	padding: 13px;
}
}
.navbar-default .navbar-nav li.active a {
	color: #3D3D3D !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a, #header .navbar ul li a:hover {
	background: #cccccc;
	box-shadow: none !important;
	color: #3D3D3D;
}
#header .navbar ul li.dugui a {
	display: block;
	padding-left: 45px
}
#header .navbar ul li.dugui-red a {
	background: url(../images/dugui-red.png) 10px center no-repeat;
}
#header .navbar ul li.dugui-red a:hover {
	background: url(../images/dugui-red.png) 10px center no-repeat #cccccc;
}
#header .navbar ul li.dugui-white a {
	background: url(../images/dugui-white.png) 10px center no-repeat;
}
#header .navbar ul li.dugui-white a:hover {
	background: url(../images/dugui-white.png) 10px center no-repeat #cccccc;
}
@media screen and (min-width: 996px) {
/*#header ul li {
	border-left:1px solid #CCCBCB;
}
#header ul li:last-child  {
	border-right:1px solid #CCCBCB;
}*/



}
@media screen and (max-width: 1000px) {
.navbar-header {
	float: none;
}
.navbar-toggle {
	display: block;
}
.navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
	display: none!important;
}
.navbar-nav {
	float: none!important;
	margin: 7.5px -15px;
}
.navbar-nav>li {
	float: none;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-text {
	float: none;
	margin: 15px 0;
}
/* since 3.1.0 */
.navbar-collapse.collapse.in {
	display: block!important;
}
.collapsing {
	overflow: hidden!important;
}
}
#header a.navbar-brand {
	padding: 10px;
}
#header #uriaug {
	margin: 20px 0px 0px 5px;
}
@media screen and (max-width: 1200px) and (min-width: 996px) {
#uriaug {
	display: none;
}
}
#header ul li {
}
#header ul li a {
	color: #231F20;
	padding: 15px 13px;
}
#footer {
	background: #3D3D3D;
	padding-top: 20px;
	padding-bottom: 0px;
	color: #B3B2B3;
	margin-top: -1px;
}
#footer .left-border {
	border-left: 1px solid #B3B2B3;
}
#footer ul li {
	margin-bottom: 10px;
}
#footer, #footer a:hover {
	text-decoration: none;
	color: #FFF;
}
#footer, #footer a {
	color: #B3B2B3;
	font-size: 12px;
}
#footer .col-ms-3, #footer .col-ms-4 {
	margin: 20px 0px;
}
#footer .socail_menu {
	width: 144px;
	margin: 15px auto;
}
#footer .store_menu {
	width: 288px;
	margin: 15px auto;
}
 @media screen and (max-width: 996px) {
.mobile-hide, .banner {
	display: none;
}
.mobile-width-100 {
	width: 100%;
}
#footer, #footer a {
	font-size: 12px;
}
#footer .footer2 {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #B3B2B3;
}
}
.carousel-inner .item img {
	margin: 0px auto;
}
.carousel-indicators li {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	border: #666666 1px solid;
	margin: 0px;
}
.carousel-indicators .active {
	width: 15px;
	height: 15px;
	border-radius: 15px;
}
#homesidebar .block {
	background: url(../images/homebannerbg.png);
}
#homesidebar .block {
	width: 170px;
	height: 128px;
	margin: 5px;
	padding: 15px 15px 5px 15px;
	float: left;
}
#myChart {
	width: 140px;
	height: 98px;
}
@media screen and (min-width: 1300px) {
#homesidebar {
	width: 170px;
	position: absolute;
	right: 10px;
	top: 70px;
	margin: 0px;
	z-index: 9999;
}
.carousel-control {
	z-index: 99999;	
}

#homesidebar .block:last-child {
	border: none;
}
}
@media screen and (max-width: 1299px) and (min-width: 996px) {
#homesidebar {
	text-align: center;
	max-width: 600px;
	margin: 10px auto;
}
#homesidebar .block {
	float: left;
	margin: 15px;
}
}
 @media screen and (max-width: 996px) {
#myChart {
	width: 320px;
	height: 120px;
}
#homesidebar {
	text-align: center;
	max-width: 360px;
	margin: 10px auto;
}
#homesidebar .block.block-chart {
	width: 350px !important;
	height: 155px;
}
.homesidebar-chart ul li {
	width: 17px;
	float: left;
	margin-left: 33px;
}
.homesidebar-chart ul li:first-child {
	margin-left: 2px;
}
body {
	max-width: 600px;
	margin: 0px auto;
	min-width: 360px;
 fon t: Arial;
	background: #FFF;
}
.searchform {
	zoom: 0.6;
}
.container {
	max-width: 600px;
}
}
 @media screen and (min-width: 996px) {
#homebody {
	position: relative;
}
#searchbar {
	width: 100%;
	position: absolute;
	bottom: 60px;
	z-index: 99999;
}
}
.searchform {
	margin: 15px auto;
	width: 585px;
	height: 35px;
}
.zar_search_button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 141px;
	height: 35px;
	background: url('../images/searchbtn.png') #333333 no-repeat 5px 5px;
	border: none;
}
#searchbar .zar_search_button:hover {
	background: url('../images/searchbtn.png') #666666 no-repeat 5px 5px;
}
#searchbar .zar_add_button {
	width: 141px;
	height: 35px;
	background: url('../images/addzar.png') #cc0000 no-repeat 5px 5px;
	border: none;
}
#searchbar .zar_add_button:hover {
	background: url('../images/addzar.png') #ff0000 no-repeat 5px 5px;
}
#searchbar .search-text {
	height: 35px;
	border: 1px solid #333333;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*************** home tab **************/

@media screen and (max-width: 996px) {
#hometabs {
	display: none;
}
.mobilemenu ul {
	list-style: none;
	margin: 0px;
	padding-top: 0px;
	padding-left: 0px;
}
.mobilemenu ul li {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	float: left;
	width: 14.285%;
	height: 75px;
	overflow: hidden;
	margin: 0px;
}
.mobilemenu ul li:last-child {
	border-right: 1px solid #cccccc;
}
.mobilemenu ul li a {
	padding-top: 11px;
	padding-bottom: 15px;
	display: block;
	text-align: center;
	font-size: 10px;
	line-height: 10px;
	color: #000000;
	margin-right: 0px;
	border-radius: 0px !important;
}
.mobilemenu ul li a:hover {
	text-decoration: none;
}
.mobilemenu ul li a img {
	margin-bottom: 8px;
}
}
 @media screen and (max-width: 1183px) and (min-width: 996px) {
#hometabs ul.nav-tabs li a {
	font-size: 10px !important;
}
}
 @media screen and (min-width: 996px) {
.mobilemenu, .mobile-catergory {
	display: none;
}
#hometabs ul.nav-tabs li {
	width: 14.285%;
	z-index: 3;
}
#hometabs {
	background: #FFF;
}
#hometabs ul.nav-tabs li a {
	display: block;
	text-align: center;
	padding-top: 95px;
	font-size: 14px;
	text-transform: uppercase;
	color: #000000;
	border: 1px solid #cccccc;
	margin-right: 0px;
	border-radius: 0px !important;
	border-bottom: none;
}
#hometabs ul.nav-tabs li:nth-child(1) a {
	background: url('../images/icons/black/1.png') no-repeat center 10px;
}
#hometabs ul.nav-tabs li:nth-child(2) a {
	background: url('../images/icons/black/2.png') no-repeat center 10px;
}
#hometabs ul.nav-tabs li:nth-child(3) a {
	background: url('../images/icons/black/3.png') no-repeat center 10px;
}
#hometabs ul.nav-tabs li:nth-child(4) a {
	background: url('../images/icons/black/4.png') no-repeat center 10px;
}
#hometabs ul.nav-tabs li:nth-child(5) a {
	background: url('../images/icons/black/5.png') no-repeat center 10px;
}
#hometabs ul.nav-tabs li:nth-child(6) a {
	background: url('../images/icons/black/6.png') no-repeat center 10px;
}
#hometabs ul.nav-tabs li:nth-child(7) a {
	background: url('../images/icons/black/7.png') no-repeat center 10px;
}
#hometabs ul.nav-tabs li#link1.active a {
	background: url('../images/icons/color/1.png') no-repeat center 10px;
	border-color: #ffcc00;
	border-bottom: 1px solid #FFF;
}
#hometabs ul.nav-tabs li#link2.active a {
	background: url('../images/icons/color/2.png') no-repeat center 10px;
	border-color: #660099;
	border-bottom: 1px solid #FFF;
}
#hometabs ul.nav-tabs li#link3.active a {
	background: url('../images/icons/color/3.png') no-repeat center 10px;
	border-color: #0099cc;
	border-bottom: 1px solid #FFF;
}
#hometabs ul.nav-tabs li#link4.active a {
	background: url('../images/icons/color/4.png') no-repeat center 10px;
	border-color: #ff6633;
	border-bottom: 1px solid #FFF;
}
#hometabs ul.nav-tabs li#link5.active a {
	background: url('../images/icons/color/5.png') no-repeat center 10px;
	border-color: #663333;
	border-bottom: 1px solid #FFF;
}
#hometabs ul.nav-tabs li#link6.active a {
	background: url('../images/icons/color/6.png') no-repeat center 10px;
	border-color: #33cc00;
	border-bottom: 1px solid #FFF;
}
#hometabs ul.nav-tabs li#link7.active a {
	background: url('../images/icons/color/7.png') no-repeat center 10px;
	border-color: #ff0000;
	border-bottom: 1px solid #FFF;
}
#hometabs .tab-pane {
	padding: 15px;
	position: relative;
	top: -1px;
	z-index: 2;
}
#hometabs .tab-pane a {
	color: #333333;
}
#hometabs #tab1.tab-pane {
	border: 1px solid #ffcc00;
}
#hometabs #tab2.tab-pane {
	border: 1px solid #660099;
}
#hometabs #tab3.tab-pane {
	border: 1px solid #0099cc;
}
#hometabs #tab4.tab-pane {
	border: 1px solid #ff6633;
}
#hometabs #tab5.tab-pane {
	border: 1px solid #663333;
}
#hometabs #tab6.tab-pane {
	border: 1px solid #33cc00;
}
#hometabs #tab7.tab-pane {
	border: 1px solid #ff0000;
}
}
.left-sidebar h2 {
	font-size: 14px;
	font-weight: bold;
}
.left-sidebar select {
	width: 100%;
}
.left-sidebar span {
	display: block;
}
.left-sidebar input[type=checkbox] {
	margin-right: 5px;
	position: relative;
	top: 2px;
	display: none;
}
.auto_more_heading {
	margin: 0px 0px 0px 0px;
	padding: 15px 5px 10px 5px;
	background: #FFF;
	z-index: 1000;
	height: 50px !important;
	overflow: hidden !important;
}
.auto_more_heading h2 {
	font-size: 18px;
	margin: 0px;
}
.auto_more_heading ul {
	list-style: none;
}
.auto_more_heading .compare-ul {
	margin-right: 15px;
}
.auto_more_heading .btn, .auto_more_heading .form-control-sorting {
	height: 27px;
	border-radius: 3px;
}
.auto_more_heading .btn-haritsuulah {
	padding-top: 4px;
	border: none;
	color: #FFF;
}
.auto_more_heading li.compare-li {
	border: 1px solid #cccccc;
	border-radius: 3px;
	width: 28px;
	height: 27px;
	display: table-cell;
	margin-right: 8px;
	float: left;
	list-style: none;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}
.right-banner {
	margin-top: 15px;
}
.right-banner img {
	width: 100%
}
.single .breadcrumb {
	margin: 15px;
}
@media screen and (min-width: 996px) {
.single .breadcrumb > li + li:before {
	color: #FFF;
}
}
.breadcrumb {
	font-size: 14px;
	background: none;
	color: #333333;
	padding: 0px;
}
.breadcrumb > li + li:before {
	color: #CCCCCC;
	content: "> ";
	padding: 0 5px;
}
.breadcrumb > li a {
	color: #333333;
}
.mobile-catergory {
	background: #cccccc;
	padding: 15px 0px 5px 0px;
	margin-bottom: 15px;
}
.mobile-catergory select {
	margin-bottom: 10px;
}
.zar-list {
	border-bottom: 1px solid;
	position: relative;
	margin-bottom: 15px;
}
.zar-ontslokh {
	border: 1px solid;
}
.zar-ontslokh .col-xs-4 {
	width: 28.33333333%
}
.zar-ontslokh .col-xs-3 {
	width: 30%
}
.zar-ontslokh .col-xs-3.col-xs-offset-9 {
	margin-left: 70.1%;
}
.zar-list img {
	width: 100%;
	margin: 3px;
	padding: 2px;
}
.zar-list .zar-content {
	padding: 0px;
}
.zar-list-text {
	text-align: justify;
	margin-top: 5px;
	font-size: 12px;
}
.zar-ontslokh .ontslokh-banner {
	margin: 3px;
}
.zar-ontslokh .ontslokh-banner .carousel-control span {
	font-size: 18px;
}
.zar-ontslokh .ads-circle {
	margin-top: 5px;
}
@media screen and (min-width: 1200px) {
.zar-ontslokh .ads-circle {
	margin-top: -35px;
}
}
@media screen and (min-width: 996px) and (max-width: 1200px) {
.zar-ontslokh .ads-circle {
	margin-top: -5px;
}
}
h3.zar-list-title {
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}
time {
	color: #a4a4a4;
}
.zar-list .zar-readmore {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 100%;
}
.zar-list .zar-readmore a {
	font-size: 16px;
	width: 100%;
	color: #FFF;
	text-transform: uppercase;
	border-radius: 0px;
	text-align: center;
}
.zar-list-tags {
	margin-bottom: 0px;
	margin-top: 10px;
}
.zar-list-tags li {
	vertical-align: bottom;
	background: #dddddd;
	color: #333333;
	padding: 1px 2px;
	font-size: 12px;
}
.zar-list-tags li.price {
	font-size: 20px;
	padding: 4px 4px;
}
@media screen and (max-width: 996px) {
.zar-list-tags li.price {
	font-size: 11px;
	padding: 4px 4px;
}
}
.zar-readmore a {
	text-align: left;
	padding: 6px;
}
.zar-list-round-icons li {
	padding: 0px;
}
.zar-list-round-icons li a {
	width: 37px;
	height: 37px;
	display: block;
	background-repeat: no-repeat;
}
.zar-list-round-icons li a i {
	font-size: 14px;
	position: relative;
	top: 10px;
	left: 11px;
}
.zar-list-haritsuulah-form {
	padding-right: 10px;
}
.zar-list-haritsuulah-form input[type=checkbox] {
	position: relative;
	top: 3px;
	margin-right: 5px;
}
@media screen and (max-width: 996px) {
.zar-list-text {
	display: none;
}
h3.zar-list-title {
	font-size: 12px;
}
.zar-list .zar-readmore {
	zoom: 0.46;
}
time {
	font-size: 9px;
	margin-bottom: 5px;
}
.zar-list-tags li {
	padding: 3px;
	font-size: 8px;
}
.zar-list-round-icons {
	zoom: 0.5;
}
.ads-circle {

	margin-top: 10px;
}
}
@media screen and (min-width: 996px) and (max-width: 1200px) {
.zar-list .zar-readmore {
	zoom: 0.8;
}
}
span.round {
	width: 36px;
	height: 36px;
	border: 2px solid #cccccc;
	border-radius: 50%;
	display: inline-block;
}
a.btn-haritsuulah-circle:hover {
	text-decoration: none;
}
a.btn-haritsuulah-circle {
	color: #333333;
}
.ads-circle {
	padding-right: 10px;
	margin-top: 15px;
}
.left-sidebar ul {
	margin-top: 15px;
}
.left-sidebar ul li.parent {
	padding: 5px 10px 5px 5px;
}
.left-sidebar ul li {
	padding: 3px 5px 3px 8px;
}
.left-sidebar ul li a {
	color: #333333;
}
.left-sidebar ul li .caret {
	float: right;
	position: relative;
	top: 7px;
}
.zar-readmore a.btn {
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: 10px center;
	background-size: 25px 25px;
}
.zar-uzuulelt div {
	margin: 1px 0px;
	font-size: 14px;
}
.zar-uzuulelt div.col-xs-7 i {
	color: #cccccc;
	margin-right: 10px;
}
.zar-uzuulelt div.col-xs-7 {
	color: #000;
}
.zar-uzuulelt div.col-xs-5 {
	color: #3d3d3d;
}
.left-sidebar ul li span {
	display: inline;
	float: right;
}
.btn-zar-editing {
	color: #FFF;
	font-size: 12px;
	width: 100%;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	height: 34px;
}
.btn-zar-editing.ln10 {
	line-height: 10px;
}
.mr-t-0 {
	margin-top: 0px !important;
}
.mr-t-15 {
	margin-top: 15px;
}
.mr-b-15 {
	margin-bottom: 15px;
}
 @media screen and (min-width: 996px) {
.pd-15 {
	padding: 15px;
}
h4 {
	font-size: 14px;
}
.pd-r-0 {
	padding-right: 0px;
}
.pd-l-0 {
	padding-left: 0px;
}
.pd-l-15 {
	padding-left: 15px;
}
.pd-r-15 {
	padding-right: 15px;
}
}
.une {
	font-size: 14px;
	margin-bottom: 15px;
}
.une p {
	margin-bottom: 5px;
}
span.red {
	color: #ff0000;
}
span.blue {
	color: #6699cc;
}
.zar-editing {
	margin: 15px 0px;
}
.zar-editing .col-xs-4 {
	margin-bottom: 15px;
}
.tooltip-btn {
	padding: 3px;
	border: 1px solid;
	border-radius: 5px;
	font-size: 10px;
	border-color: #dddddd !important;
}
.tooltip-btn-arrow {
	text-align: center;
	height: 12px;
	margin-bottom: -1px;
}
.tooltip-btn-arrow i {
	color: #dddddd !important;
}
.zar-editing .tooltip-btn-arrow.first {
	width: auto;
	left: 0px;
}
.zar-editing .tooltip-btn.first {
	width: auto;
	left: 0px;
}
.zar-content-header {
	padding: 15px;
	border-bottom: 1px solid #cccccc;
	margin: 0px;
}
.zar-title {
	font-size: 16px;
}
@media screen and (min-width: 1200px) {
.zar-editing .btn-zar-editing, .zar-editing .tooltip-btn, .zar-editing .tooltip-btn-arrow {
	width: 90px;
	position: relative;
	left: -10px;
}
.auto_more_heading.fixed {
	width: 740px;
}
}
@media screen and (min-width: 996px) and (max-width: 1200px) {
.zar-editing. btn-zar-editing, .zar-editing .tooltip-btn, .zar-editing .tooltip-btn-arrow {
width:80px;
position:relative;
left:-14px;
}
.auto_more_heading.fixed {
	width: 640px;
}
}
 @media screen and (min-width: 996px) {
.have-image .singlebar1 {
	float: right;
	border-left: 1px solid #cccccc;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2px;
	border-right: 1px solid #FFF;
}
.have-image .singlebar2 {
	float: left;
	border-right: 1px solid #cccccc;
	padding-left: 15px;
	padding-right: 15px;
}
.singlebar1 {
	border-right: 1px solid #cccccc;
	padding-left: 0px;
	padding-right: 0px;
}
.singlebar2 {
	border-left: 1px solid #cccccc;
	position: relative;
	left: -1px;
	padding-right: 0px;
}
}
.nopadding {
	padding: 0px; 
}
.comment-input-text {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.btn-insert-comment {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #FFF;
}
.relate-news {
	margin: 15px auto;
}
.carousel-control {
	padding-top: 40px;
	width: 7%;
	font-size: 50px;
}
.relate-news h4 {
	border-bottom: 1px solid #cccccc;
	padding: 5px 15px 10px 15px;
	font-size: 12px;
}
.relate-news a {
	color: #333333;
	text-decoration: none;
}
.relate-news #related-car {
	padding-left: 15px;
	padding-right: 15px;
}
h3.zar-list-title a {
	color: #333333;
}
.autofix_sb.fixed {
	position: fixed !important;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	height: 100%;
	overflow: auto;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
/*.autofix_sb.fixed.bottom {
  bottom: 0;
  position: absolute !important;
}

*/
.comments-list {
	max-height: 310px;
	overflow: auto;
}
.comment-list .page-header {
	margin: 0px;
}
.comments-list .user_name {
	font-size: 14px;
	font-weight: bold;
}
.comments-list .media {
	border-bottom: 1px dotted #ccc;
}
.comments-list .media-left, .comments-list img {
	border-radius: 50%;
	width: 42px;
	height: 42px;
	margin-right: 10px;
	margin-top: 20px;
}
.history {
	color: rgb(200, 199, 199);
}
.comment-list {
	margin-top: 15px;
}
.homestatistic {
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Tahoma !important;
}
.homestatistic h4 {
	margin: 0px 0px 5px 0px;
	font-size: 14px;
}
.homestatistic h3 {
	margin: 0px 0px 7px 0px;
	font-weight: bold;
	font-size: 25px;
}
.homesidebar-chart ul li img {
	width: 17px;
}
.homesidebar-chart ul {
	position: relative;
	left: 10px;
	margin: 0px;
	top: -14px;
}
 @media screen and (min-width: 996px) {
.homesidebar-chart ul li {
	width: 17px;
	float: left;
	margin-left: 2.5px;
}
}
.homesidebar-pie {
	width: 110px;
	height: 110px;
	margin: 0px auto;
	position: relative;
	top: -5px;
	color: #FFF;
	font-weight: bold;
	font-size: 10px;
	background: url(../images/homesidebar-chart.png) no-repeat center center;
}
.homesidebar-pie div {
	position: absolute;
	width: 20px;
	text-align: center;
}
#homesidebar-pie-1 {
	top: 7px;
	left: 26px;
}
#homesidebar-pie-2 {
	top: 7px;
	left: 62px;
}
#homesidebar-pie-4 {
	top: 37px;
	left: 3px;
}
#homesidebar-pie-3 {
	top: 37px;
	left: 88px;
}
#homesidebar-pie-5 {
	top: 75px;
	left: 12px;
}
#homesidebar-pie-6 {
	top: 75px;
	left: 80px;
}
#homesidebar-pie-7 {
	top: 93px;
	left: 47px;
}
 @media screen and (min-width: 996px) {
.login-form-bar {
	float: right;
}
.login-desc-bar {
	float: left;
	border-right: 1px solid #cccccc;
}
.login-desc-bar-list {
	font-size: 10px;
}
}
.login-desc-bar .login-desc-bar-title {
	font-size: 18px;
	margin-bottom: 20px;
}
.login-desc-bar .login-desc-bar-list span {
	font-size: 30px;
}
.login-desc-bar-list h4 {
	font-size: 12px;
	font-weight: bold;
}
 @media screen and (max-width: 996px) {
.login-desc-bar-list {
	font-size: 13px;
}
}
.nav-tabs li a {
	color: #333333;
}
.login-form {
	padding-top: 20px;
}
.register-form .btn, .login-form .btn {
	background-color: #ff0000;
	color: #FFF;
	padding-top: 8px;
	margin-right: 15px;
}
.login-form label {
	font-size: 14px;
}
.login-form a {
	color: #333333;
}
.social-box {
	border-top: 1px solid #cccccc;
}
hr {
	border-color: #cccccc;
}
.login-user-menu h3 {
	text-align: center;
	background-color: #ff0000;
	color: #FFF;
	font-size: 18px;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.login-user-menu ul {
	margin-top: 0px;
}
.login-user-menu ul li {
	vertical-align: middle;
	height: 40px;
	overflow: hidden;
	border: 1px solid #cccccc;
	border-top: none;
}
.login-user-menu ul li div.pull-left {
	font-size: 15px;
	padding: 10px;
	background: rgba(204,204,204,0.5);
	border-right: 1px solid #ccccc;
	margin-right: 10px;
}
.login-user-menu ul li div.menutext {
	float: left;
	padding-top: 8px;
	font-size: 16px;
}
.login-user-menu ul li div.pull-right {
	padding: 10px;
}
.login-user-menu ul li a {
	color: #333333;
}
.login-user-body h3 {
	margin-top: 0px;
}
.login-user-body .table tbody>tr>td.vert-align {
	vertical-align: middle;
}
.login-user-body .btn {
	background-color: #ff0000;
	color: #FFF;
	margin-bottom: 5px;
}
.login-user-body .table tbody>tr>td h4 {
	margin: 0px;
	font-size: 14px;
}
.login-user-body .table tbody>tr>td h4 a {
	color: #333333;
	font-weight: bold;
}
.addzar-page .popover {
	margin-top: 22px;
	display: block;
	position: relative;
	padding: 10px 5px;
	background: #fff7f7;
	border-color: #ff3300;
}
.addzar-page .popover .arrow {
	border-right-color: #ff3300;
}
.font10 {
	font-size: 10px;
}
 @media screen and (max-width: 996px) {
.addzar-page .popover {
	padding: 5px;
	font-size: 9px;
}
.popover-content {
	padding: 5px;
}
.font10 {
	font-size: 13px;
}
}
.addzar-page h3 {
	font-size: 14px;
	padding: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
	border-bottom: 1px solid #cccccc;
}
.addzar-page h3 small {
	font-size: 12px;
	color: #333333;
}
.addzar-page textarea {
	min-height: 180px;
}
.addzar-page .unuhtsul {
	border: 1px solid #cccccc;
	padding: 15px;
}
.addzar-page .btn {
	background-color: #ff0000;
	color: #FFF;
	padding: 10px 30px 12px 30px;
}
.addzar-page .countdown {
	text-align: right;
	border: none;
}
 @media screen and (min-width: 996px) {
.addzar-page .imageuploader .col-md-3 {
	width: 20%;
}
}
.right-banner-sidebar {
	position: relative;
	padding: 10px;
	border-radius: 10px;
	background-image: url(../images/right-bannber-bg.png);
}
.right-banner-sidebar .iconbar {
	width: 100px;
	height: 100px;
	margin: 0px auto;
	padding: 5px;
	background: rgba(0,0,0,0.2);
	border-radius: 50px;
}
.right-banner-sidebar .siderbar-number {
	width: 13px;
	height: 30px;
	position: absolute;
	padding-left: 0px;
	padding-top: 3px;
	bottom: 45%;
	right: -13px;
	font-size: 15px;
	color: #FFF;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.right-banner-sidebar .banner-title {
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 5px 15px 5px;
	color: #FFF;
	background: url(../images/shadow.png) no-repeat center bottom;
	margin-bottom: 15px;
}
.right-banner-sidebar .banner-text ul li {
	color: #000;
	font-weight: bold;
	line-height: 15px;
	margin-bottom: 15px;
}
.right-banner-sidebar a {
	color: #FFF;
}
.right-banner-sidebar a i {
	font-size: 8px;
}
.unet-zuils {
	font-size: 14px;
	text-align: justify;
}
 @media screen and (min-width: 996px) {
.unet-zuils .pd-t-30 {
	padding-top: 80px;
}
.zar-list-price {
	font-size: 15px;
	margin-top: 8px;
	margin-bottom: 0px;
	padding-bottom: 5px;
}
}
.nuutslaliin-batalgaa-list span.glyphicon {
	font-size: 55px;
}
.nuutslaliin-batalgaa-list {
	padding: 20px;
	border: 1px solid #ff0000;
}
.zar-nemelt-content {
	font-size: 14px;
}

.admind-medegdeh {
	width:700px;
	margin-top:25px;
}

.admind-medegdeh textarea {
	border:1px solid #ff0000;
	min-height:150px;
}
.admind-medegdeh .btn {
	background:#FF0000;
	color:#FFF;
}

.compare-li span {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.compare-img {
    width: 100%;
}


.image-upload-2 {width:86px;height:100px;position:relative;overflow:hidden;float:left;}
.image-upload-2 .image-uploading {display:none;z-index:10;position:absolute;top:0;left:0;width:100%;height:100%;background:url(/images/uploading.gif) no-repeat center center;}
.image-upload-2 .image-delete {cursor:pointer;display:none;z-index:10;position:absolute;right:5px;bottom:5px;background:url(/images/icons/remove.png) no-repeat 0 0;width:16px;height:16px;}

.image-upload-2 .image-select {cursor:pointer;z-index:10;position:absolute;right:0;bottom:5;background:url(/images/image-upload.jpg) no-repeat center center;width:100%;height:100%;}

.image-upload-2 .image-uploaded {position:relative;z-index:1;float:left;margin:0;display:none;}
.image-upload-2 .image-uploaded img {width:100%;}

.image-upload-2.uploading .image-uploading {display:block;}
.image-upload-2.uploading .image-select {display:none;}

.image-upload-2.uploaded .image-delete {display:block;}
.image-upload-2.uploaded .image-select {display:none;}
.image-upload-2.uploaded .image-uploaded {display:block;}


.input-error{
	background-color: #fce7eb;
	border: 1px solid #f00 !important;
}

#header .navbar ul li.dugui-red { position:relative; }
#header .navbar ul li.dugui-red a div { position:absolute; margin-left:-35px;  width:28px; text-align:center; text-align:center; color:#d12333; z-index:20px;  }

#resetAll {
    background-image: url("/images/icons/remove.png");
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 16px;
}

.homeback1{ background-color: #FFCD05;margin-bottom: 1px;}
.homeback2{ background-color: #BBA7CF;margin-bottom: 1px;}
.homeback3{ background-color: #94C4E4;margin-bottom: 1px;}
.homeback4{ background-color: #F7AB8D;margin-bottom: 1px;}
.homeback5{ background-color: #B19A89;margin-bottom: 1px;}
.homeback6{ background-color: #B6DEA1;margin-bottom: 1px;}
.homeback7{ background-color: #F69B9A;margin-bottom: 1px;}

input[type="checkbox"]:not(old), input[type="radio"]:not(old) {
    margin: 0;
    opacity: 0;
    padding: 0;
    width: 28px;
}
input[type="checkbox"]:not(old) + label, input[type="radio"]:not(old) + label {
    background: rgba(0, 0, 0, 0) url("../auto_images/checks.png") no-repeat scroll 0 0;
    display: inline-block;
    line-height: 30px;
    margin-left: -28px;
    padding-left: 40px;
}
input[type="checkbox"]:not(old) + label {
    background: rgba(0, 0, 0, 0) url("../auto_images/checks_1.png") no-repeat scroll 0 0;
    display: inline-block;
    line-height: 24px;
    margin-left: -28px;
    padding-left: 40px;
}
input.auto_more_chk[type="checkbox"]:not(old) + label.auto_more_chk_lab {
    background: rgba(0, 0, 0, 0) url("../../auto_images/chk.png") no-repeat scroll -4px -3px;
    display: inline-block;
    line-height: 18px;
    margin-left: 0;
    padding-left: 24px;
}
input.auto_more_chk[type="checkbox"]:checked:not(old) + label.auto_more_chk_lab {
    background-position: -4px -47px;
}
input[type="radio"]:checked:not(old) + label {
    background-position: 0 -32px;
}

input.auto_more_chk[type="checkbox"]:not(old) + label.auto_more_chk_lab {
    background: rgba(0, 0, 0, 0) url("../auto_images/chk.png") no-repeat scroll -4px -3px;
    display: inline-block;
    line-height: 18px;
    margin-left: 0;
    padding-left: 24px;
    font-weight: normal;
}
input.auto_more_chk[type="checkbox"]:checked:not(old) + label.auto_more_chk_lab {
    background-position: -4px -47px;
}
input[type="radio"]:checked:not(old) + label {
    background-position: 0 -32px;
}
input.auto_more_chk2[type="checkbox"]:not(old) + label.auto_more_chk_lab2 {
    background: rgba(0, 0, 0, 0) url("../auto_images/chk.png") no-repeat scroll -4px -3px;
    display: inline-block;
    line-height: 18px;
    margin-left: 0;
    padding-left: 24px;
}
input.auto_more_chk2[type="checkbox"]:checked:not(old) + label.auto_more_chk_lab2 {
    background-position: -4px -47px;
}

label.auto_more_chk_lab{
	/*line-height: 10px !important; */
}

.auto_compare{ background-color:#fff; border:solid 1px #dcdcdc;padding: 0 !important;margin: 0;}
.auto_compare .col-md-12{ /*padding:0 !important;*/}
.auto_compare .col-md-3{width: 20%;border: 0;float: left;padding: 10px;}

.common_col_md_12 {
    padding: 15px 0;
}
.common_col_md_12:nth-child(2n) {
    background-color: #f2f2f2;
}
.antispam { display:none;}
/* Miigaa Nemsen end*/