@charset "utf-8";
/* CSS Document */

#header a.navbar-brand {
	padding-top:12px;
}
#header ul li a {
	padding:18px 20px; 
}

@media screen and (max-width: 1200px) and (min-width: 996px) {
#header ul li a {
	padding:18px 13px; 
}	 
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover,
.btn-angilal, .btn-zaradd, .btn-zarsearch, .btn-haritsuulah, .tooltip-inner,
.zar-list .zar-readmore a, .btn-zar-editing, .btn-insert-comment, .banner  .carousel-indicators .active, .right-banner-sidebar, .siderbar-number
   { 
background-color:#0099cc;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover,
.searchs-text, .auto_more_heading  .form-control-sorting, .zar-list, a:hover span.round, .tooltip-btn, .comment-input-text, a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover, .banner  .carousel-indicators li {
	border-color:#0099cc;
}
.tooltip.top .tooltip-arrow {
	border-top-color:#0099cc;
}
.form-control-sorting, .pagination>li>a, .pagination>li>span, .zar-ontslokh h3.zar-list-title a, .zar-list-round-icons li a i, .tooltip-btn-arrow  i,   .bx-zoom-btn a i, .comments-list .user_name {
	color:#0099cc;
}

.zar-ontslokh {
	background: rgba(0,153,204,0.05);
}
.zar-list-round-icons li a  {
	background-image:url('../images/round/2.png');
	
}

.zar-readmore a.btn {
	background-image:url(../images/icons/white/3.png); 
}
.duguilsan .btn-haritsuulah-circle .round {
    border: 2px solid #0099cc;
}