@charset "utf-8";
/* CSS Document */

#header a.navbar-brand {
	padding-top: 18px;
}
#header ul li a {
	padding: 18px 18px;
}

@media screen and (max-width: 1200px) and (min-width: 996px) {
#header ul li a {
	padding: 15px 7px; 
}
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .btn-angilal, .btn-zaradd, .btn-zarsearch, .btn-haritsuulah, .zar-list .zar-readmore a, .tooltip-inner , .btn-zar-editing, .btn-insert-comment, .banner  .carousel-indicators .active, .right-banner-sidebar, .siderbar-number {
	background-color: #FF0000;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .searchs-text, .auto_more_heading .form-control-sorting, .zar-list, a:hover span.round, .tooltip-btn , .comment-input-text, a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover, .banner  .carousel-indicators li  {
	border-color: #FF0000;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #FF0000;
}
.form-control-sorting, .pagination>li>a, .pagination>li>span, .zar-list-round-icons li a i, .left-sidebar ul li .caret, .tooltip-btn-arrow  i,   .bx-zoom-btn a i, .comments-list .user_name {
	color: #FF0000;
}
h3.zar-list-title a {
	color: #333333;
}
.zar-ontslokh {
	background: rgba(255,0,0,0.05);
}
.left-sidebar ul li.parent {
	background: rgba(255,0,0,0.1);
}
.zar-list-round-icons li a {
	background-image: url('../images/round/7.png');
}
.zar-readmore a.btn {
	background-image:url(../images/icons/white/7.png); 
}
.duguilsan .btn-haritsuulah-circle .round {
    border: 2px solid #FF0000;
}