@charset "utf-8";
/* CSS Document */

#header ul li a {
 color: #000 !important;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .btn-angilal, .btn-zaradd, .btn-zarsearch, .btn-haritsuulah, .zar-list .zar-readmore a, .tooltip-inner , .btn-zar-editing, .btn-insert-comment, .banner  .carousel-indicators .active, .right-banner-sidebar, .siderbar-number {
	background-color: #ff0000;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .searchs-text, .auto_more_heading .form-control-sorting, .zar-list, a:hover span.round, .tooltip-btn , .comment-input-text, a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover, .banner  .carousel-indicators li {
	border-color: #ff0000;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #ff0000;
}
.form-control-sorting, .pagination>li>a, .pagination>li>span, .zar-list-round-icons li a i, .left-sidebar ul li .caret, .tooltip-btn-arrow  i,   .bx-zoom-btn a i, .comments-list .user_name {
	color: #ff0000;
}
h3.zar-list-title a {
	color: #333333;
}
.zar-ontslokh {
	background: rgba(255,0,0,0.05);
}
.left-sidebar ul li.parent {
	background: rgba(255,0,0,0.1);
}
.zar-list-round-icons li a {
	background-image: url('../images/round/7.png');
}
.zar-readmore a.btn {
	background-image:url(../images/icons/white/7.png); 
}

@media screen and (min-width: 996px) {
	.sub-menu-helper  .col-md-2 {
		width: 20%;
	}
	.sub-menu-helper  .col-md-2 .btn {
	  border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
	}
}
.sub-menu-helper  .col-md-2 .btn {
	padding-top: 10px;
 width: 100%;
 text-align: center;
 text-transform: uppercase;
 background: #cacaca;
 color: #FFF;
}
.sub-menu-helper  .btn.active, .sub-menu-helper   .btn:hover {
 background: #ff0000;
} 
.sub-menu-helper {
	padding: 25px 15px 0px 15px;
	border-bottom: 1px solid #ff0000 	;
		margin-bottom: 1px;
}

.other-content-body {
	padding: 15px 15px 30px 15px;
}

@media screen and (max-width: 996px) {

.sub-menu-helper   {
	
}
.sub-menu-helper  .col-md-2 .btn {
	margin-bottom: 5px;
	font-size: 11px;
}

}
.other-content-body img.w100 { width: auto; max-width: 100%; text-align: center;  margin: 0px auto; }
.uniinsanal { text-align:center; margin:15px 0px;}
