@charset "utf-8";
/* CSS Document */

#header a.navbar-brand {
	padding-top:17px;
}
#header ul li a {
	padding:18px 18px; 
}

@media screen and (max-width: 1200px) and (min-width: 996px) {
#header ul li a {
	padding:18px 7px; 
}	 
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover,
.btn-angilal, .btn-zaradd, .btn-zarsearch, .btn-haritsuulah,
.zar-list .zar-readmore a,  .tooltip-inner, .btn-zar-editing, .btn-insert-comment, .banner  .carousel-indicators .active, .right-banner-sidebar, .siderbar-number
   { 
background-color:#FF6633;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover,
.searchs-text, .auto_more_heading  .form-control-sorting, .zar-list, a:hover span.round, .tooltip-btn, .comment-input-text, a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover , .banner  .carousel-indicators  li{
	border-color:#FF6633;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #FF6633;
}
.form-control-sorting, .pagination>li>a, .pagination>li>span, .zar-ontslokh h3.zar-list-title a, .zar-list-round-icons li a i, .tooltip-btn-arrow  i ,   .bx-zoom-btn a i, .comments-list .user_name {
	color:#FF6633;
}

.zar-ontslokh {
	background:#fff9f7;
}
.zar-list-round-icons li a  {
	background-image:url('../images/round/1.png');
	
}

.zar-readmore a.btn {
	background-image:url(../images/icons/white/4.png); 
}
.duguilsan .btn-haritsuulah-circle .round {
    border: 2px solid #FF6633;
}